#subHeader3 {
	height: 134px;
	line-height: 134px;
	background-color: #ffffff;
}

#subHeader3.color_black {
	background-color: #2b2b2b;
}

#subHeader3.color_black,
#subHeader3.color_theme {
	color: rgb(255 255 255 / 80%);
}

#subHeader3 .subTable {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#subHeader3 .subTableColumn {
	display: table-cell;
	vertical-align: middle;
}

#subHeader3 .subTableColumn:first-child {
	width: 260px;
	text-align: center;
	border-left: 1px solid #f4f4f4;
}

#subHeader3.color_black .subTableColumn:first-child,
#subHeader3.color_theme .subTableColumn:first-child {
	border-right: 1px solid rgb(255 255 255 / 20%);
	border-left: 1px solid rgb(255 255 255 / 20%);
}

#subHeader3 .subTableColumn:nth-child(2) {
	width: 252px;
	text-align: center;
	border-right: 1px solid #f4f4f4;
}

#subHeader3 .subTableColumn:nth-child(3) {
	padding: 0 48px;
}

#subHeader3.color_black .subTableColumn:nth-child(2),
#subHeader3.color_black .subTableColumn:nth-child(3),
#subHeader3.color_black .subTableColumn:last-child,
#subHeader3.color_theme .subTableColumn:nth-child(2),
#subHeader3.color_theme .subTableColumn:nth-child(3),
#subHeader3.color_theme .subTableColumn:last-child {
	border-right: 1px solid rgb(255 255 255 / 20%);
}

#subHeader3 .subTableColumn:last-child {
	width: 278px;
	padding: 0 12px;
	text-align: center;
	border-right: 1px solid #f4f4f4;
}

#subHeader3 .subTableContainer {
	display: inline-block;
	line-height: 21px;
	vertical-align: middle;
}

#subHeader3 #logo {
	float: none;
	width: auto;
	line-height: 21px;
	text-align: center;
	border: 0;
}

#subHeader3 #geoPosition ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

#subHeader3 #geoPosition ul li {
	font-size: 14px;
}

#subHeader3 #geoPosition .null {
	display: block;
	width: 0;
	height: 0;
	padding: 0;
	line-height: 0px;
}

#subHeader3.color_black #topHeading p {
	color: rgb(255 255 255 / 80%);
}

#subHeader3.color_theme #topHeading p,
#subHeader3.color_theme #topTools {
	color: #ffffff;
}

#subHeader3 #topHeading {
	float: none;
	width: auto;
	padding: 0 24px;
	line-height: 21px;
	text-align: center;
	border: 0;
}

#topHeading .vertical {
	line-height: 21px;
}

#subHeader3 #topTools {
	margin-bottom: 6px;
	overflow: hidden;
}

#subHeader3 #topToolsLeft {
	float: left;
	margin-left: 6px;
}

#subHeader3 #topToolsLeft ul {
	margin: 0;
	padding: 0;
	font-size: 0;
	list-style: none;
}

#subHeader3 #topToolsLeft li {
	display: inline-block;
	font-size: 14px;
}

#subHeader3 #topToolsLeft li:first-child {
	margin-right: 24px;
}

#subHeader3 #topToolsRight {
	float: right;
}

#subHeader3 #topToolsRight .heading {
	display: inline-block;
	margin-right: 24px;
	font-size: 18px;
	font-family: robotomedium;
}

#subHeader3 #topToolsRight div[id*="bx_"] {
	display: inline-block;
}

#subHeader3.color_black #topToolsRight .callBack,
#subHeader3.color_theme #topToolsRight .callBack {
	color: rgb(255 255 255 / 80%);
	background-image: url("images/callbackH3W.svg");
}

#subHeader3 #topToolsRight .callBack {
	position: relative;
	top: -2px;
	display: inline-block;
	padding-left: 24px;
	color: #000000;
	text-decoration: none;
	background-image: url("images/callbackH3B.svg");
	background-repeat: no-repeat;
	background-position: 0 50%;
	transition: all 0.2s ease-in-out;
}

#subHeader3.color_black #topToolsRight .callBack::after,
#subHeader3.color_theme #topToolsRight .callBack::after {
	border-bottom: 1px dashed rgb(255 255 255 / 80%);
}

#subHeader3 #topToolsRight .callBack::after {
	position: absolute;
	bottom: 0;
	left: 24px;
	display: block;
	width: 100%;
	height: 0;
	border-bottom: 1px dashed #000000;
	transition: all 0.2s ease-in-out;
	content: "";
}

#subHeader3 #topToolsLeft a {
	position: relative;
	text-decoration: none;
}

#subHeader3 #topToolsLeft a:active {
	position: relative;
	top: 1px;
}

#subHeader3 #topToolsLeft a::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	display: block;
	width: 100%;
	height: 0;
	transition: all 0.2s ease-in-out;
	content: "";
}

#subHeader3 #topToolsRight .callBack:hover {
	opacity: 0.7;
}

#subHeader3 #topToolsRight .callBack:active {
	position: relative;
	top: -1px;
	transition: none;
}

#subHeader3 .user-geo-position-value-link {
	position: relative;
	overflow: visible;
	text-decoration: none;
}

#subHeader3 .user-geo-position-value-link:active {
	position: relative;
	top: 1px;
}

#subHeader3.color_theme .user-geo-position-value-link {
	color: #ffffff;
}

#subHeader3 .user-geo-position-value-link span {
	vertical-align: middle;
}

#subHeader3 .user-geo-position-value-link::after {
	position: absolute;
	bottom: -1px;
	left: 0;
	display: block;
	width: 100%;
	height: 0;
	transition: all 0.2s ease-in-out;
	content: "";
}

#subHeader3.color_theme .user-geo-position-value-link::after {
	border-color: #ffffff;
}

#subHeader3.color_theme .user-geo-position-value-link::after:hover,
#subHeader3 .user-geo-position-value-link:hover {
	opacity: 0.8;
}

#subHeader3.color_theme .user-geo-position-value-link,
#subHeader3.color_theme #topToolsLeft a,
#subHeader3.color_theme #topToolsRight .callBack {
	color: #ffffff;
}

#subHeader3.color_theme .user-geo-position-value-link::after,
#subHeader3.color_theme #topToolsLeft a::after {
	border-color: #ffffff;
}

#subHeader3.color_theme .user-geo-position-value-link:hover,
#subHeader3.color_theme #topToolsLeft a:hover,
#subHeader3.color_theme #topToolsRight .callBack:hover {
	opacity: 0.8;
}

#subHeader3.color_black #topSearch2 .searchContainerInner,
#subHeader3.color_theme #topSearch2 .searchContainerInner {
	background-color: rgb(0 0 0 / 2%);
	border: 1px solid rgb(255 255 255 / 20%);
}

#subHeader3.color_black #topSearch2 #goSearch,
#subHeader3.color_theme #topSearch2 #goSearch {
	background-image: url("images/searchIcoH3W.svg");
}

#subHeader3.color_black #topSearch2 #searchQuery,
#subHeader3.color_theme #topSearch2 #searchQuery {
	color: rgb(255 255 255 / 80%);
	background-image: url("images/searchH3W.svg");
}

#subHeader3.color_black #topSearch2 input[placeholder],
#subHeader3.color_theme #topSearch2 input[placeholder] {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader3.color_black #topSearch2 input::input-placeholder,
#subHeader3.color_theme #topSearch2 input::input-placeholder {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader3.color_black #topSearch2 input::placeholder,
#subHeader3.color_theme #topSearch2 input::placeholder {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader3.color_black #topSearch2 input:focus[placeholder],
#subHeader3.color_theme #topSearch2 input:focus[placeholder] {
	color: transparent;
}

#subHeader3.color_black #topSearch2 input:focus::input-placeholder,
#subHeader3.color_theme #topSearch2 input:focus::input-placeholder {
	color: transparent;
}

#subHeader3.color_black #topSearch2 input::placeholder,
#subHeader3.color_theme #topSearch2 input::placeholder {
	color: transparent;
}

#subHeader3 #searchResult {
	top: 132px;
}

#subHeader3 #searchOverlap {
	top: 134px;
}

#subHeader3.color_black .cart .heading,
#subHeader3.color_theme .cart .heading {
	color: rgb(255 255 255 / 80%);
}

#subHeader3.color_black .cart .cartTable .cartIcon,
#subHeader3.color_theme .cart .cartTable .cartIcon {
	background-image: url("images/cartH3W.svg");
}

#subHeader3.color_black .cart .order:not(.active),
#subHeader3.color_theme .cart .order:not(.active) {
	border: 1px solid rgb(255 255 255 / 50%);
}

#subHeader3.color_theme .cart .order:not(.active) {
	color: rgb(255 255 255 / 80%);
}

#subHeader3.color_theme .cart .order.active {
	color: #ffffff;
	border: 1px solid #ffffff;
}

#subHeader3.color_theme .cart .total {
	color: #ffffff;
}

#subHeader3.color_theme .cart .active .count {
	background-color: #ffffff;
}

#subHeader3.color_black .cart .active .count {
	color: #ffffff;
}

#subHeader3.color_black .cart .count,
#subHeader3.color_theme .cart .count {
	color: rgb(0 0 0 / 60%);
	background-color: #ffffff;
}

#subHeaderLine {
	height: 50px;
	line-height: 50px;
	background-color: #ffffff;
	border-top: 1px solid #f4f4f4;
	border-bottom: 1px solid #f4f4f4;
}

#subHeaderLine.color_black {
	background-color: #2b2b2b;
}

#subHeaderLine.color_black,
#subHeaderLine.color_theme {
	color: #ffffff;
	border-top: 1px solid rgb(255 255 255 / 20%);
	border-bottom: 1px solid rgb(255 255 255 / 20%);
}

#subHeaderLine .subLineContainer {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#subHeaderLine.color_black .subLineLeft,
#subHeaderLine.color_theme .subLineLeft {
	border-left: 1px solid rgb(255 255 255 / 20%);
}

#subHeaderLine .subLineLeft {
	display: table-cell;
	vertical-align: top;
	border-left: 1px solid #f4f4f4;
}

#subHeaderLine.color_black #subMenu li a,
#subHeaderLine.color_theme #subMenu li a {
	color: rgb(255 255 255 / 80%);
}

#subHeaderLine #subMenu li a {
	color: #000000;
}

#subHeaderLine #subMenu li a.selected {
	opacity: 0.6;
}

#subHeaderLine.color_theme #subMenu li a.selected,
#subHeaderLine.color_black #subMenu li a.selected {
	color: #ffffff;
	opacity: 1;
}

#subHeaderLine #subMenu li a:not(.selected):hover {
	opacity: 0.7;
}

#subHeaderLine #subMenu li a:active {
	position: relative;
	top: 1px;
}

#subHeaderLine #subMenu .removedItemsContainer {
	position: relative;
}

#subHeaderLine.color_black #subMenu .removedItemsContainer .removedItemsLink,
#subHeaderLine.color_theme #subMenu .removedItemsContainer .removedItemsLink {
	background: url("images/menuMore2.svg") 0% 50% no-repeat transparent;
}

#subHeaderLine #subMenu .removedItemsContainer .removedItemsLink {
	display: block;
	width: 50px;
	height: 50px;
	padding: 0;
	background: url("images/menuMore.svg") 0% 50% no-repeat transparent;
}

#subHeaderLine #subMenu .removedItemsContainer .removedItemsList {
	position: absolute;
	top: 50px;
	left: 0;
	z-index: 99;
	display: none;
	width: 220px;
	background-color: #fbfbfb;
}

#subHeaderLine.color_black #subMenu .removedItemsContainer .removedItemsList {
	background-color: #2b2b2b;
}

#subHeaderLine #subMenu .removedItemsContainer .removedItemsList li {
	float: none;
	border-top: 1px solid #f2f2f2 !important;
}

#subHeaderLine #subMenu .removedItemsContainer .removedItemsList li:first-child {
	border: 0 !important;
}

#subHeaderLine.color_black #subMenu .removedItemsContainer .removedItemsList li,
#subHeaderLine.color_theme #subMenu .removedItemsContainer .removedItemsList li {
	float: none;
	border-top: 1px solid rgb(255 255 255 / 10%) !important;
}

#subHeaderLine.color_black #subMenu .removedItemsContainer .removedItemsList li:first-child,
#subHeaderLine.color_theme #subMenu .removedItemsContainer .removedItemsList li:first-child {
	border: 0 !important;
}

#subHeaderLine #subMenu .removedItemsContainer .removedItemsList li a {
	display: block;
	padding: 0 12px;
}

#subHeaderLine.color_black #subMenu li,
#subHeaderLine.color_theme #subMenu li {
	border-right: 1px solid rgb(255 255 255 / 20%);
}

#subHeaderLine.color_black .subLineRight,
#subHeaderLine.color_theme .subLineRight {
	border-right: 1px solid rgb(255 255 255 / 20%);
}

#subHeaderLine .subLineRight {
	display: table-cell;
	width: 362px;
	vertical-align: top;
	border-right: 1px solid #f4f4f4;
}

#subHeaderLine.color_black .topWishlist,
#subHeaderLine.color_theme .topWishlist {
	border-right: 1px solid rgb(255 255 255 / 20%);
	border-left: 1px solid rgb(255 255 255 / 20%);
}

#subHeaderLine .topWishlist {
	padding-right: 12px;
	border-right: 1px solid #f4f4f4;
	border-left: 1px solid #f4f4f4;
}

#subHeaderLine .topCompare {
	display: inline-block;
}

#subHeaderLine.color_black .topWishlist .icon,
#subHeaderLine.color_black .topWishlist .label,
#subHeaderLine.color_black .topWishlist .value,
#subHeaderLine.color_black .topCompare .icon,
#subHeaderLine.color_black .topCompare .label,
#subHeaderLine.color_black .topCompare .value,
#subHeaderLine.color_theme .topWishlist .icon,
#subHeaderLine.color_theme .topWishlist .label,
#subHeaderLine.color_theme .topWishlist .value,
#subHeaderLine.color_theme .topCompare .icon,
#subHeaderLine.color_theme .topCompare .label,
#subHeaderLine.color_theme .topCompare .value {
	color: rgb(255 255 255 / 80%);
}

#subHeaderLine.color_black .topCompare .icon,
#subHeaderLine.color_theme .topCompare .icon {
	background-image: url("images/compareH3W.svg");
}

#subHeaderLine.color_black .topWishlist .icon,
#subHeaderLine.color_theme .topWishlist .icon {
	background-image: url("images/wishlistH3W.svg");
}

#geo-location-window {
	text-align: left;
}

@media all and (max-width: 1750px) {
	#subHeader3 #topToolsRight .heading:first-child {
		margin-right: 12px;
	}
}

@media all and (max-width: 1700px) {
	#subHeader3 .subTableColumn:nth-child(2) {
		display: none;
	}
}

@media all and (max-width: 1500px) {
	#subHeader3 #topToolsLeft li:first-child {
		margin-right: 12px;
	}

	#subHeader3 #topToolsRight .heading {
		font-size: 16px;
	}
}

@media all and (max-width: 1430px) {
	#subHeader3 .subTableColumn:nth-child(3) {
		padding: 0 24px;
	}

	#subHeader3 #topToolsLeft li:first-child {
		margin-right: 12px;
	}
}

@media all and (max-width: 1340px) {
	#subHeader3 .subTable .subTableColumn {
		border: 0 !important;
	}

	#subHeader3 .subTableColumn:first-child {
		width: 230px;
	}

	#subHeader3 #topToolsRight .heading:nth-child(2) {
		display: none;
	}

	#subHeaderLine #subMenu li {
		border: 0 !important;
	}

	#subHeaderLine #subMenu li a {
		padding: 0 24px;
	}

	#subHeaderLine .subLineLeft,
	#subHeaderLine .subLineRight,
	#subHeaderLine .topWishlist {
		border: 0 !important;
	}

	.topWishlist .label,
	.topCompare .label {
		display: none;
	}

	#subHeaderLine .subLineRight {
		width: 195px;
	}
}

@media all and (max-width: 1150px) {
	.cart .cartTable .cartTableColumn:last-child {
		display: none;
	}

	#subHeader3 .subTableColumn:last-child {
		width: 60px;
	}

	#subHeader3 .cart .cartTable .cartIcon {
		margin-top: 32px;
	}

	#subHeaderLine #subMenu li a:first-child {
		padding-left: 0;
	}

	#subHeader3 .subTableColumn:first-child {
		text-align: left;
	}

	#subHeader3 #logo {
		text-align: left;
	}

	#subHeader3 .subTableColumn:first-child {
		width: 200px;
	}
}

@media all and (max-width: 950px) {
	#subHeader3 #topToolsRight .callBack {
		display: none;
	}

	#subHeader3 .subTableColumn:nth-child(3) {
		padding: 0;
	}

	#subHeader3 #topToolsRight .heading:first-child {
		margin-right: 0;
	}

	#subHeaderLine #subMenu .removedItemsContainer .removedItemsList {
		right: 0;
		left: auto;
	}

	#subHeader3 .subTableColumn:last-child {
		padding: 0 0 0 24px;
	}

	.cart .cartTable .cartTableColumn:first-child {
		padding: 0;
	}
}

@media all and (max-width: 700px) {
	#subHeaderLine .subLineRight,
	#subHeaderLine .topCompare {
		display: none;
	}

	#topSearchLine {
		position: absolute;
		top: 124px;
		left: 0;
		box-sizing: border-box;
		width: 100%;
		padding: 0 12px;
	}

	#subHeader3 #searchResult {
		top: 62px;
	}

	#subHeader3 #searchOverlap {
		top: 194px;
	}

	#subHeader3 {
		position: relative;
	}

	#subHeader3 #topToolsLeft {
		float: none;
	}

	#subHeader3 .subTableColumn:nth-child(3) {
		padding-right: 12px;
	}

	#subHeader3 .subTableContainer {
		width: 100%;
	}

	#subHeader3 #topTools {
		text-align: right;
	}

	#subHeaderLine {
		margin-top: 60px;
	}

	#headerLayout {
		background-color: #ffffff;
	}

	#headerLayout.color_black {
		background-color: #2b2b2b;
	}

	#subHeader3 .cart .cartTable .cartIcon {
		margin-top: -4px;
	}

	#subHeader3 .subTableColumn:first-child {
		padding-left: 12px;
	}

	#subHeaderLine #subMenu li a:first-child {
		padding-left: 16px;
	}

	#subHeader3 .subTableColumn:last-child {
		padding-right: 12px;
		padding-left: 12px;
	}
}

@media all and (max-width: 550px) {
	#subHeader3 .subTableColumn:first-child {
		width: 140px;
	}

	#subHeader3 .user-geo-position-label {
		display: none;
		margin-right: 0;
	}

	#geoPosition {
		text-align: left;
	}

	#subHeader3 {
		height: 90px;
		line-height: 90px;
	}

	#topSearchLine {
		top: 88px;
	}
}

@media all and (max-width: 500px) {
	#subHeader3 #logo {
		height: auto;
		padding: 0;
		line-height: 21px;
	}

	#subHeader3 .user-geo-position {
		padding: 0;
		text-align: left;
	}

	#subHeader3 .top-auth-personal,
	#subHeader3 .top-auth-exit,
	#subHeader3 .top-auth-login,
	#subHeader3 .top-auth-register {
		position: static;
	}

	#subHeaderLine #subMenu li a {
		padding: 0 12px;
	}
}

@media all and (max-width: 450px) {
	#subHeader3 .subTableColumn:last-child {
		position: absolute;
		top: 72px;
		right: 0;
	}

	#topSearchLine {
		padding-right: 84px;
	}

	#subHeader3 .subTableColumn:nth-child(3) {
		width: 100%;
		padding-right: 12px;
	}

	#subHeader3 .subTableColumn:last-child {
		width: 54px;
	}
}

@media all and (max-width: 380px) {
	#subHeader3 .subTableColumn:first-child {
		width: 120px;
	}

	#subHeader3 #topToolsRight .heading {
		font-size: 14px;
	}

	#subHeader3 #topToolsLeft a {
		font-size: 13px;
	}

	#topSearch2 input#searchQuery {
		padding-left: 12px;
		background-image: none;
	}
}
