#personalMenu {
	margin: 0 0 24px;
	padding: 0;
	overflow: hidden;
	list-style: none;
	border-bottom: 1px solid #f1f1f1;
}

#personalMenu li {
	float: left;
	margin-right: 24px;
	margin-bottom: 24px;
}

#personalMenu li:last-child {
	margin-right: 0;
}

#personalMenu li a {
	color: #000000;
	font-size: 16px;

	/* text-transform: uppercase; */
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

#personalMenu li a:active {
	position: relative;
	top: 1px;
}

#personalMenu li .selected {
	padding-bottom: 4px;
	font-family: robotobold;
	border-bottom: 1px dashed #000000;
}

#personalMenu li .selected:hover {
	color: #000000;
}

@media all and (max-width: 1024px) {
	#personalMenuWrap {
		position: relative;
		min-width: 100%;
		height: 40px;
		overflow: hidden;
		overflow-x: auto;
	}

	#personalMenuWrap ul {
		overflow: auto;
		white-space: nowrap;
	}

	#personalMenu li {
		display: inline-block;
		float: none;
		margin-right: 18px;
		margin-bottom: 18px;
		white-space: nowrap;
		vertical-align: top;
	}

	#personalMenu::after {
		position: absolute;
		top: 0;
		right: 0;
		width: 35px;
		height: 100%;
		background: linear-gradient(left, rgb(255 255 255 / 20%), #ffffff 100%);
		background: linear-gradient(to right, rgb(255 255 255 / 20%), #ffffff 100%);
		content: "";
		pointer-events: none;
	}
}
