.request-price-form {
	position: fixed;
	z-index: 9999;
	overflow: hidden auto;
	background-color: rgb(0 0 0 / 40%);
	inset: 0;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

.request-price-form::-webkit-scrollbar {
	display: none;
}

.request-price-form__inner {
	display: flex;
	box-sizing: border-box;
	width: 100%;
	min-height: 100%;
	padding: 24px 0;
}

.request-price-form__inner-proxy {
	display: flex;
	flex-direction: column;
	gap: 12px;
	box-sizing: border-box;
	width: min(700px, 90%);
	margin: auto;
	padding: 18px;
	background-color: #ffffff;
	border-radius: 10px;
	box-shadow: 0 0 25px rgb(0 0 0 / 15%);
}

.request-price-form__header {
	position: relative;
	display: flex;
	gap: 24px;
	align-items: center;
	justify-content: space-between;
	box-sizing: border-box;
	height: 60px;
	background-color: #f9f9f9;
	border-radius: 8px;
}

.request-price-form__heading {
	flex: 1;
	box-sizing: border-box;
	padding: 0 24px;
	font-size: 21px;
	font-family: robotomedium, sans-serif;
	line-height: 1.4;
	text-align: center;
}

.request-price-form__close-button--header {
	display: flex;
	flex-shrink: 0;
	width: 21px;
	height: 21px;
	padding: 0;
	background: url("images/exit.svg") 0 0 no-repeat transparent;
	border: 0;
	outline: none;
	cursor: pointer;
}

.request-price-form__close-button--header:hover {
	background-position: 0 -21px;
}

.request-price-form__close-button--header:active {
	background-position: 0 -42px;
}

.request-price-form__states {
	box-sizing: border-box;
	padding: 18px;
}

.request-price-form__state--input {
	display: grid;
	grid-template: 1fr / 270px 1fr;
	gap: 24px;
}

.request-price-form__state:not(.request-price-form__state--active) {
	display: none;
}

.request-price-form__product {
	display: flex;
	flex-direction: column;
	gap: 24px;
	align-items: center;
}

.request-price-form__product-image-container {
	text-decoration: none;
	transition: opacity 0.2s ease-in-out;
}

.request-price-form__product-image-container:hover {
	opacity: 0.85;
}

.request-price-form__product-image-container:active {
	position: relative;
	top: 1px;
}

.request-price-form__product-name {
	color: #000000;
	text-align: center;
	text-decoration: none;
	transition: opacity 0.2s ease-in-out;
}

.request-price-form__product-name:hover {
	opacity: 0.85;
}

.request-price-form__product-name:active {
	position: relative;
	top: 1px;
}

.request-price-form__form-container {
	display: flex;
	flex-direction: column;
	gap: 18px;
}

.request-price-form__form {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.request-price-form__input {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding-left: 12px;
	font-family: "roboto_ltregular";
	border: 1px solid transparent;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
}

.request-price-form__checkbox {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 0;
	margin-right: 6px;
	vertical-align: middle;
	appearance: auto;
}

.request-price-form__textarea {
	box-sizing: border-box;
	width: 100%;
	height: 60px;
	padding-top: 12px;
	padding-left: 12px;
	font-family: "roboto_ltregular";
	border: 1px solid transparent;
	border-radius: 4px;
	transition: all 0.2s ease-in-out;
	resize: none;
}

.request-price-form__input,
.request-price-form__textarea {
	color: #000000;
	background-color: #f3f3f3;
}

.request-price-form__input:focus,
.request-price-form__textarea:focus {
	background-color: #e9e9e9;
	outline: none;
}

.request-price-form__field--error {
	border: 1px solid #ff0000;
}

.request-price-form__field-label {
	cursor: pointer;
}

.request-price-form__field-label--error {
	border-bottom: 1px solid #ff0000;
}

.request-price-form__user-agreement {
	font-size: 13px;
}

.request-price-form__errors {
	display: flex;
	flex-direction: column;
	gap: 12px;
}

.request-price-form__errors:not(.request-price-form__errors--visible) {
	display: none;
}

.request-price-form__error {
	color: #ff0000;
}

.request-price-form__submit-button--loading {
	opacity: 0.75;
	pointer-events: none;
}

.request-price-form__success {
	display: flex;
	flex-direction: column;
	align-items: center;
	box-sizing: border-box;
	padding: 48px 0;
}

.request-price-form__success-heading {
	font-size: 18px;
	font-family: robotomedium, sans-serif;
	line-height: 1.4;
	text-align: center;
}

.request-price-form__success-message {
	text-align: center;
}

@media (min-width: 601px) {
	.request-price-form__close-button--header {
		position: absolute;
		right: 24px;
	}
}

@media (max-width: 800px) {
	.request-price-form__product {
		display: none;
	}

	.request-price-form__states {
		padding: 0;
	}

	.request-price-form__state--input {
		grid-template: 1fr / 1fr;
	}
}

@media (max-width: 600px) {
	.request-price-form__header {
		align-items: start;
		height: auto;
		background-color: transparent;
	}

	.request-price-form__heading {
		padding: 0;
		text-align: left;
	}
}
