#subMenu {
	display: inline-block;
	height: 40px;
	margin: 0;
	padding: 0;
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	vertical-align: middle;
	list-style: none;
	visibility: hidden;
	opacity: 0;
}

#subMenu li {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 14px;
	vertical-align: middle;
	list-style: none;
}

#subMenu li:last-child {
	border: 0;
}

#subMenu li a {
	display: inline-block;
	padding: 0 24px;
	color: #000000;
	text-decoration: none;
	vertical-align: middle;
	transition: all 0.2s ease-in-out;
}

#subMenu li a:not(.selected):active {
	position: relative;
	top: 1px;
}
