.bx-pagination {
	margin: 10px 0;
}

.bx-pagination .bx-pagination-container {
	position: relative;
	text-align: center;
}

.bx-pagination .bx-pagination-container ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bx-pagination .bx-pagination-container ul li {
	display: inline-block;
	margin: 0 2px 15px;
}

.bx-pagination .bx-pagination-container ul li span {
	display: block;
	box-sizing: border-box;
	min-width: 32px;
	height: 32px;
	padding: 0 8px;
	color: #444444;
	font-size: 14px;
	line-height: 32px;
	vertical-align: middle;
	background: #eff0f1;
	border-radius: 16px;
	transition:
		color 0.3s ease,
		background-color 0.3s ease,
		border-color 0.3s ease;
}

.bx-pagination .bx-pagination-container ul li a {
	display: block;
	min-width: 32px;
	height: 32px;
	color: #444444;
	line-height: 32px;
	text-decoration: none;
	vertical-align: middle;
	border-radius: 16px;
}

.bx-pagination .bx-pagination-container ul li a:hover span {
	background: #dadada;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
	padding: 0 18px;
	color: #444444;
	line-height: 28px;
	background: #ffffff;
	border: 2px solid #eff0f1;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next span {
	padding: 0 18px;
	color: #aab1b4;
	line-height: 28px;
	background: #ffffff;
	border: 2px solid #eff0f1;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span {
	color: #000000;
	background: #ffffff;
	border-color: #dadada;
}
