# 1. Игнорировать всё
/*

# 2. Но не игнорировать сам .gitignore
!/.gitignore

# 3. Разрешить папку local и всё её содержимое
!/local/
!/local/**

!/dopiski/
!/dopiski/**

# 4. Разрешить файлы в корне
!/*.php
!/*.html
!/*.css
!/*.js
!/*.json
!/*.xml
!/*.txt
!/.htaccess
!/robots.txt

# Bitrix core / secrets
/bitrix/
/bitrix/php_interface/
/bitrix/.settings.php
/bitrix/php_interface/dbconn.php
/bitrix/license_key.php

/local/php_interface/dbconn.php
/local/php_interface/after_connect_d7.php
/local/php_interface/after_connect.php
/local/.settings.php

/.env
.env.*
*.key
*.pem
*.p12
*.pfx
*.sql
*.sqlite
*.sqlite3
*.log
*.bak
.DS_Store
**/.DS_Store

# Не хранить черновики/архивы в репозитории
*.zip
/meyertecAPI.xml
/newPhpCatalog*.php
