#fastViewStores {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1001;
	width: 100%;
	height: 100%;
	overflow: auto;
	background: rgb(0 0 0 / 40%);
	transition: 0.1s all ease-in-out;

	/* display: none; */
}

#fastViewStores .fastViewStoresContainer {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 800px;
	height: 600px;
	margin-top: -275px;
	margin-left: -400px;
	background-color: #ffffff;
	box-shadow: 1px 1px 12px rgb(60 60 60 / 30%);
	animation-name: zoomIn;
	animation-duration: 0.2s;
	animation-fill-mode: both;
}

#fastViewStores .fastViewStoresHeading {
	position: relative;
	color: #000000;
	font-size: 18px;
	line-height: 60px;
	text-align: center;
}

#fastViewStores .fastViewStoresExit {
	position: absolute;
	top: 20px;
	right: 20px;
	display: block;
	width: 21px;
	height: 21px;
}

#fastViewStores .fastViewStoresMap {
	box-sizing: border-box;
	height: 300px;
	margin-bottom: 12px;
	padding: 12px;
	overflow: hidden;
}

#fastViewStores .storeTable {
	position: relative;
	box-sizing: border-box;
	height: 216px;
	padding: 12px;
	overflow: hidden;
}

#fastViewStores .storeTableContainer {
	position: relative;
	width: 850px;
	height: 216px;
	padding-bottom: 50px;
	overflow: hidden scroll;
}

#fastViewStores .storeTableContainerOverflow {
	width: 776px;
}

#fastViewStores .storeTable::after {
	position: absolute;
	bottom: 0;
	display: block;
	width: 100%;
	height: 55px;
	background: linear-gradient(
		top,
		rgb(255 255 255 / 0%) 0%,
		rgb(255 255 255 / 100%) 100%
	);
	background: linear-gradient(to bottom, rgb(255 255 255 / 0%) 0%, rgb(255 255 255 / 100%) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00ffffff', endColorstr='#ffffff', GradientType=0);
	content: "";
	pointer-events: none;
}

#fastViewStores .storeTableList {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#fastViewStores .storeTableList tr:last-child td {
	position: relative;
	z-index: 99;
}

#fastViewStores .storeTableList tr:nth-child(odd) td {
	background-color: #f9f9f9;
}

#fastViewStores .storeTableList th {
	padding: 12px 24px;
	font-weight: 400;
	text-align: center;
	background-color: #f3f3f3;
}

#fastViewStores .storeTableList td {
	padding: 14px 24px;

	/* border-top: 1px solid #e7e8ea; */
	text-align: center;
}

#fastViewStores .storeTableList .name {
	width: 50%;
	text-align: left;
}

#fastViewStores .storeTableList td.name {
	text-align: left;
}

#fastViewStores .storeTableList .lb {
	display: inline-block;
	text-align: left;
}

#fastViewStores .storeTableList .icon {
	margin-top: -4px;
	padding-right: 6px;
	vertical-align: middle;
}

#fastViewStores .storeTableList .green {
	/* font-weight: 800; */
	color: #73b24e;
}

#fastViewStores .storeTableList .red {
	color: #ff0000;
}

#fastViewStores .storeTableList .picture {
	padding-right: 12px;
	vertical-align: middle;
}

#fastViewStores .storeTableList a {
	color: #000000;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

#fastViewStores .storeTableList a span {
	padding-bottom: 4px;
	line-height: 26px;
	border-bottom: 1px dashed #bbbbbb;
}

#fastViewStores .storeTableList a:hover {
	color: #888888;
}

#fastViewStores .storeTableList a:active {
	position: relative;
	top: 1px;
}
