#left .heading .arrow {
	background-position: -27px 50%;
	transition: all 0.5s;
}

#left .heading.opened .arrow {
	transform: rotate(90deg);
}

#nextSection {
	margin-top: 24px;
	margin-bottom: 24px;
	border-top: 1px solid #e7e8ea;
	border-right: 1px solid #e7e8ea;
	border-left: 1px solid #e7e8ea;
	border-radius: 4px;
}

#nextSection .title {
	display: block;
	padding-top: 12px;
	padding-bottom: 12px;
	font-size: 14px;
	text-align: center;
	text-transform: uppercase;
	background-color: #f3f3f3;
	cursor: pointer;
}

#nextSection ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#nextSection li,
#nextSection .title {
	border-bottom: 1px solid #e7e8ea;
}

#nextSection li a {
	display: inline-block;
	padding: 12px 24px;
	color: #000000;
	font-size: 13px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

#nextSection li a:hover,
#nextSection li .selected {
	color: #ffa800;
}

#nextSection li .cnt {
	float: right;
	color: #888888;
}

.collection-banner.banner-elem {
	height: 470px;
	margin-bottom: 30px;
}

.collection-banner.banner-elem h1 {
	margin-bottom: 18px;
}

.collection-banner.banner-elem .h2 {
	margin-bottom: 8px;
}

.collection-banner.banner-elem .text-wrap #breadcrumbs + .tb .text-wrap {
	padding: 12px 0 0;
}

.collection-banner.banner-elem .descr {
	max-height: 120px;
	margin-bottom: 8px;
	font-size: 14px;
	line-height: 24px;
}

.collection-banner.banner-elem .descr p {
	margin: 0;
}

.collection-banner.banner-elem .image {
	width: 60%;
	vertical-align: middle;
}

.collection-banner.banner-elem .image img {
	max-height: 470px;
}

@media screen and (max-width: 1600px) {
	.collection-banner.banner-elem {
		height: 440px;
	}

	.collection-banner.banner-elem .image img {
		max-height: 440px;
	}
}

@media screen and (max-width: 1400px) {
	.collection-banner.banner-elem {
		height: 380px;
	}

	.collection-banner.banner-elem .image {
		width: 50%;
	}

	.collection-banner.banner-elem .image img {
		max-height: 380px;
	}
}

@media screen and (max-width: 1300px) {
	.collection-banner.banner-elem {
		height: 300px;
	}

	.collection-banner.banner-elem .image img {
		max-height: 300px;
	}
}

@media screen and (max-width: 1200px) {
	.collection-banner.banner-elem h1 {
		margin-bottom: 12px;
	}
}
@media screen and (max-width: 1024px) {
	.collection-banner.banner-elem {
		height: 240px;
	}

	.collection-banner.banner-elem h1 {
		margin-bottom: 10px;
	}

	.collection-banner.banner-elem .image {
		width: 45%;
	}

	.collection-banner.banner-elem .image img {
		max-height: 240px;
	}

	.collection-banner.banner-elem .descr {
		max-height: 80px;
		line-height: 20px;
	}
}

@media screen and (max-width: 800px) {
	.collection-banner.banner-elem {
		height: 200px;
	}

	.collection-banner.banner-elem .image {
		width: 40%;
	}

	.collection-banner.banner-elem .image img {
		max-height: 200px;
	}

	.collection-banner.banner-elem .descr {
		max-height: 60px;
	}
}

@media screen and (max-width: 700px) {
	.collection-banner.banner-elem {
		height: auto;
		margin-bottom: 18px;
		border: 1px solid #e7e8ea;
	}

	.collection-banner.banner-elem #breadcrumbs {
		right: 0;
		left: 12px;
		width: auto;
		margin-top: 12px;
	}

	.collection-banner.banner-elem .descr {
		max-height: 80px;
		margin-bottom: 6px;
	}

	.collection-banner.banner-elem .text-wrap {
		display: block;
		padding: 12px 12px 0;
	}

	.collection-banner.banner-elem h1 {
		margin-bottom: 8px;
		font-size: 18px;
	}

	.collection-banner.banner-elem .image {
		display: block;
		width: 100%;
		padding: 0;
	}

	.collection-banner.banner-elem .image img {
		max-height: 250px;
		margin: 0 auto;
	}
}

@media screen and (max-width: 500px) {
	.collection-banner.banner-elem .descr {
		display: block;
	}

	.collection-banner.banner-elem h1 {
		max-height: 60px;
		margin-bottom: 8px;
		font-size: 16px;
		line-height: 20px;
	}

	.collection-banner.banner-elem .image img {
		max-height: 200px;
	}
}
