#headerLine2 {
	position: relative;
	min-width: 320px;
	height: 45px;
	line-height: 45px;
	background-color: #ffffff;
}

#headerLine2.color_black {
	background-color: #2b2b2b;
}

#headerLine2.color_black,
#headerLine2.color_theme {
	/* border-bottom: 1px solid rgba(255, 255, 255, 0.15); */
	color: #ffffff;
}

#headerLine2 .headerLineContainer {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#headerLine2 .headerLineColumn {
	display: table-cell;
	vertical-align: middle;
}

#headerLine2 .headerLineColumn:first-child {
	width: 200px;
}

#headerLine2 .headerLineColumn:nth-child(2) {
	padding: 0 12px;
	text-align: center;
}

#headerLine2 .headerLineColumn:last-child {
	width: 350px;
	text-align: right;
}

#headerLine2 #geoPosition {
	display: inline-block;
	vertical-align: middle;
}

#headerLine2 #geoPosition ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#headerLine2 .user-geo-position-label,
#headerLine2 .user-geo-position-value,
#headerLine2 .user-geo-position-value-link {
	max-width: 120px;
	font-size: 14px;
}

#headerLine2 .user-geo-position-value-link {
	position: relative;
	text-decoration: none;
}

#headerLine2 .user-geo-position-value-link:active {
	top: 1px;
}

#headerLine2 .user-geo-position-value-link::after {
	position: absolute;
	bottom: 14px;
	left: 0;
	display: block;
	width: 100%;
	height: 0;
	transition: all 0.2s ease-in-out;
	content: "";
}

#headerLine2.color_theme .user-geo-position-value-link {
	color: #ffffff;
}

#headerLine2.color_theme .user-geo-position-value-link:hover {
	opacity: 0.8;
}

#headerLine2.color_theme .user-geo-position-value-link::after {
	border-color: #ffffff;
}

#headerLine2 #topAuth {
	display: inline-block;
	margin-right: 24px;
}

#headerLine2 #topAuth ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

#headerLine2 #topAuth > ul li {
	position: relative;
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
}

#headerLine2 #topAuth > ul li:first-child::after {
	position: absolute;
	top: 0;
	right: -10px;
	content: "|";
}

#headerLine2 #topAuth > ul li:first-child {
	margin-left: 0;
}

#headerLine2 #topAuth > ul li a {
	color: #000000;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

#headerLine2 #topCallBack {
	display: inline-block;
	line-height: 21px;
	text-align: left;
}

#headerLine2 #topCallBack .callBack {
	display: block;
	height: 45px;
	padding: 0 24px;
	color: #ffffff;
	line-height: 45px;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

#headerLine2.color_theme #subMenu li a,
#headerLine2.color_theme #topAuth > ul li a,
#headerLine2.color_theme #subMenu li a:hover,
#headerLine2.color_theme #subMenu li .selected,
#headerLine2.color_theme #topAuth > ul li a:hover,
#headerLine2.color_black #subMenu li a,
#headerLine2.color_black #topAuth > ul li a {
	color: #ffffff;
}

#headerLine2.color_theme #subMenu li a:hover,
#headerLine2.color_theme #subMenu li .selected,
#headerLine2.color_theme #topAuth > ul li a:hover {
	opacity: 0.8;
}

#headerLine2 #subMenu .removedItemsContainer {
	position: relative;
}

#headerLine2 #subMenu .removedItemsContainer .removedItemsLink {
	display: inline-block;
	width: 30px;
	height: 18px;
	padding: 0 12px;
	vertical-align: middle;
	background: url("images/menuMore.svg") 50% 50% no-repeat transparent;
}

#headerLine2.color_black #subMenu .removedItemsContainer .removedItemsLink,
#headerLine2.color_theme #subMenu .removedItemsContainer .removedItemsLink {
	background: url("images/menuMoreW.svg") 50% 50% no-repeat transparent;
}

#headerLine2 #subMenu .removedItemsContainer .removedItemsLink:active {
	position: relative;
	top: 1px;
}

#headerLine2 #subMenu .removedItemsContainer .removedItemsList {
	position: absolute;
	top: 42px;
	left: 0;
	z-index: 99;
	display: none;
	width: 180px;
	margin: 0;
	padding: 0;
	background-color: #fbfbfb;
}

#headerLine2.color_black #subMenu .removedItemsContainer .removedItemsList {
	background-color: #2b2b2b;
}

#headerLine2.color_black #subMenu .removedItemsContainer .removedItemsList li,
#headerLine2.color_theme #subMenu .removedItemsContainer .removedItemsList li {
	border-top: 1px solid rgb(255 255 255 / 15%);
}

#headerLine2.color_black #subMenu .removedItemsContainer .removedItemsList li a,
#headerLine2.color_theme #subMenu .removedItemsContainer .removedItemsList li a {
	color: #ffffff;
}

#headerLine2 #subMenu .removedItemsContainer .removedItemsList li {
	display: block;
	float: none;
	white-space: normal;
	text-align: left;
	border-top: 1px solid #f2f2f2;
}

#headerLine2 #subMenu .removedItemsContainer .removedItemsList li:first-child {
	border: 0 !important;
}

#headerLine2 #subMenu .removedItemsContainer .removedItemsList li a {
	display: block;
	padding: 8px 12px;
	line-height: 21px;
}

#headerLine2 #subMenu .removedItemsContainer .removedItemsList li a:active {
	position: relative;
	top: 1px;
}

#headerLine2.color_theme .callBack:hover {
	opacity: 0.8;
}

#subHeader5 {
	position: relative;
	min-width: 320px;
	height: 112px;
	background-color: #ffffff;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #f3f3f3;
}

#subHeader5.color_black {
	background-color: #2b2b2b;
}

#subHeader5.color_black,
#subHeader5.color_theme {
	color: #ffffff;
	border-top: 1px solid rgb(255 255 255 / 15%);
	border-bottom: 1px solid rgb(255 255 255 / 15%);
}

#subHeader5 #logo {
	height: 112px;
	max-height: 112px;
	line-height: 112px;
	text-align: left;
	border: 0;
}

#subHeader5 .callBack {
	display: none;
}

#subHeader5 #logo img {
	max-height: 112px;
}

#subHeader5 .subTable {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#subHeader5 .subTableColumn {
	display: table-cell;
	vertical-align: middle;
}

#subHeader5 .subTableColumn:first-child {
	width: 230px;
}

#subHeader5 .subTableColumn:nth-child(2),
#subHeader5 .subTableColumn:nth-child(3) {
	width: 180px;
	padding: 0 12px;
}

#subHeader5 .subTableColumn:nth-child(3) {
	width: 200px;
}

#subHeader5 .subTableColumn:nth-child(3) .label {
	display: block;
}

#subHeader5 .subTableColumn:nth-child(2) .heading {
	display: block;
	font-size: 16px;
	font-family: robotomedium;
	text-align: left;
}

#subHeader5.color_theme .subTableColumn:nth-child(2) .heading,
#subHeader5.color_black .subTableColumn:nth-child(2) .heading {
	font-family: "roboto_ltregular";
}

#subHeader5 .subTableColumn:last-child {
	width: 365px;
	text-align: right;
}

#subHeader5 #topSearch2 .searchContainerInner {
	background-color: #fbfbfb;
}

#subHeader5.color_black #topSearch2 .searchContainerInner,
#subHeader5.color_theme #topSearch2 .searchContainerInner {
	background-color: rgb(255 255 255 / 10%);
	border: 1px solid rgb(255 255 255 / 20%);
}

#subHeader5.color_black #topSearch2 input[placeholder],
#subHeader5.color_theme #topSearch2 input[placeholder] {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader5.color_black #topSearch2 input::input-placeholder,
#subHeader5.color_theme #topSearch2 input::input-placeholder {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader5.color_black #topSearch2 input::placeholder,
#subHeader5.color_theme #topSearch2 input::placeholder {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader5.color_black #topSearch2 input:focus[placeholder],
#subHeader5.color_theme #topSearch2 input:focus[placeholder] {
	color: transparent;
}

#subHeader5.color_black #topSearch2 input:focus::input-placeholder,
#subHeader5.color_theme #topSearch2 input:focus::input-placeholder {
	color: transparent;
}

#subHeader5.color_black #topSearch2 input::placeholder,
#subHeader5.color_theme #topSearch2 input::placeholder {
	color: transparent;
}

#subHeader5 .subTableColumn .toolsContainer {
	display: inline-block;
	line-height: 21px;
	text-align: right;
	vertical-align: middle;
}

#subHeader5 .topWishlist,
#subHeader5 .topCompare,
#subHeader5 .cart {
	float: left;
	margin-top: 8px;
}

#subHeader5.color_theme .topWishlist .value,
#subHeader5.color_theme .topCompare .value,
#subHeader5.color_theme .cart .count {
	color: #ffffff;
	border-color: rgb(255 255 255 / 70%);
}

#subHeader5.color_theme .topCompare .active .value,
#subHeader5.color_theme .topWishlist .active .value,
#subHeader5.color_theme .cart .active .count {
	color: #ffffff;
	border-color: #ffffff;
}

#subHeader5.color_theme .cart .total,
#subHeader5.color_theme .cart .total:hover,
#subHeader5.color_theme .cart .heading,
#subHeader5.color_theme .cart .heading:hover,
#subHeader5.color_theme .cart .heading:hover .total {
	color: #ffffff;
}

#subHeader5.color_theme .cart .total:hover {
	opacity: 0.7;
}

#subHeader5 #searchResult {
	top: 110px;
}

#subHeader5 #searchOverlap {
	top: 156px;
}

#mainMenuContainer #menuCatalogSection {
	border: 0;
}

#menuCatalogSection .menuSection .catalogButton {
	padding: 0 12px 0 0;
	background-color: transparent;
}

#menuCatalogSection .menuSection .catalogButton:hover {
	background-color: transparent;
	opacity: 0.8;
}

.menuContainerColor #mainMenuContainer {
	border-top: 0 !important;
}

@media all and (max-width: 1600px) {
	#subHeader5 .subTableColumn:first-child {
		width: 210px;
	}

	#subHeader5 .subTableColumn:nth-child(3) {
		width: 180px;
	}
}

@media all and (max-width: 1450px) {
	#headerLine2 #subMenu li a {
		padding: 0 24px;
	}
}

@media all and (max-width: 1366px) {
	#subHeader5 .subTableColumn:nth-child(3) {
		width: 160px;
	}

	#subHeader5 .subTableColumn:last-child {
		width: 350px;
	}

	#subHeader5 .subTableColumn:first-child {
		width: 200px;
	}

	#subHeader5 .subTableColumn:nth-child(2) {
		width: 170px;
	}
}

@media all and (max-width: 1280px) {
	#subHeader5 .cart .heading {
		display: none;
	}

	#subHeader5 .subTableColumn:last-child {
		width: 200px;
	}

	#headerLine2 #subMenu li a {
		padding: 0 18px;
	}
}

@media all and (max-width: 1100px) {
	#subHeader5 .subTableColumn:nth-child(3) {
		display: none;
	}
}

@media all and (max-width: 1045px) {
	#headerLine2 .headerLineColumn:nth-child(2) {
		padding: 0;
		text-align: left;
	}
}

@media all and (max-width: 940px) {
	#subHeader5 {
		height: 170px;
	}

	#subHeader5 .subTable {
		position: relative;
	}

	#subHeader5 .subTableColumn:nth-child(4) {
		position: absolute;
		top: 98px;
		left: 0;
		width: 100%;
	}

	#subHeader5 .cart .heading {
		display: inline-block;
	}

	#subHeader5 .subTableColumn:last-child {
		width: 360px;
	}

	#subHeader5 #searchResult {
		top: 72px;
	}

	#subHeader5 #searchOverlap {
		top: 218px;
	}
}

@media all and (max-width: 825px) {
	#subHeader5 .cart .heading {
		display: none;
	}

	#subHeader5 .subTableColumn:last-child {
		width: 200px;
	}
}

@media all and (max-width: 700px) {
	#headerLine2 .headerLineColumn:first-child,
	#subHeader5 .subTableColumn:first-child {
		padding-left: 12px;
	}

	#headerLine2 .headerLineColumn:last-child,
	#subHeader5 .subTableColumn:last-child {
		padding-right: 12px;
	}

	#subHeader5 .subTableColumn:nth-child(4) {
		box-sizing: border-box;
		padding: 0 12px;
	}
}

@media all and (max-width: 650px) {
	#headerLine2 #topCallBack {
		display: none;
	}

	#headerLine2 .headerLineColumn:last-child {
		width: 200px;
	}

	#headerLine2 #topAuth {
		margin: 0;
	}

	#subHeader5 .topCompare {
		display: none;
	}

	#subHeader5 .subTableColumn:last-child {
		position: absolute;
		top: 98px;
		right: 0;
		width: 120px;
	}

	#subHeader5 .subTableColumn:nth-child(4) {
		padding-right: 140px;
	}

	#subHeader5 .subTableColumn:nth-child(2) {
		width: 100%;
	}

	#subHeader5 .subTableColumn:nth-child(2) .heading {
		text-align: right;
	}
}

@media all and (max-width: 500px) {
	#headerLine2 .top-auth-personal,
	#headerLine2 .top-auth-exit,
	#headerLine2 .top-auth-login,
	#headerLine2 .top-auth-register {
		top: 0;
		left: 0;
	}

	#headerLine2 .user-geo-position-label {
		display: none;
	}

	#headerLine2 .headerLineColumn:nth-child(2) {
		text-align: right;
	}

	#headerLine2 #subMenu {
		margin-left: 6px;
	}

	#headerLine2 #subMenu .removedItemsContainer .removedItemsLink {
		width: 10px;
	}

	#headerLine2 div.headerLineColumn,
	#headerLine2 div.headerLineColumn:first-child {
		float: left;
		width: auto;
	}

	#headerLine2 div.headerLineColumn:last-child {
		float: right;
		width: auto;
	}

	#headerLine2 .user-geo-position {
		overflow: hidden;
		white-space: nowrap;
		text-align: left;
		text-overflow: ellipsis;
	}

	#headerLine2 .user-geo-position-value-link {
		margin-top: -5px;
	}
}

@media all and (max-width: 420px) {
	#subHeader5 {
		height: 150px;
	}

	#subHeader5 .limiter {
		padding: 0;
	}

	#subHeader5 .subTableColumn:nth-child(2) .heading {
		font-size: 14px;
	}

	#subHeader5 #logo,
	#subHeader5 .subTableColumn:first-child {
		width: 140px;
	}

	#subHeader5 #logo {
		height: 90px;
		max-height: 90px;
		line-height: 90px;
	}

	#subHeader5 .subTableColumn:nth-child(4),
	#subHeader5 .subTableColumn:last-child {
		top: 80px;
	}

	#headerLine2 .user-geo-position-label,
	#headerLine2 .user-geo-position-value,
	#headerLine2 .user-geo-position-value-link {
		font-size: 13px;
	}

	#headerLine2 #topAuth > ul li {
		font-size: 13px;
	}

	#subHeader5 #searchResult {
		top: 70px;
	}

	#subHeader5 #searchOverlap {
		top: 196px;
	}
}

@media all and (max-width: 380px) {
	#subHeader5 .topWishlist {
		display: none;
	}

	#subHeader5 .subTableColumn:last-child {
		width: 60px;
	}

	#subHeader5 .subTableColumn:nth-child(4) {
		padding-right: 70px;
	}

	#subHeader5 #topSearch2 #searchQuery {
		padding-left: 12px;
		background-image: none !important;
	}

	#headerLine2 #geoPosition {
		position: absolute;
		top: 74px;
		right: 12px;
		z-index: 99;
	}

	#headerLine2 #subMenu {
		margin-left: -6px;
	}

	#headerLine2 .user-geo-position {
		padding-right: 0;
		text-align: right;
	}

	#headerLine2 .headerLineColumn:nth-child(2) {
		padding-left: 0;
	}

	#subHeader5 .subTableColumn:nth-child(2) .heading {
		margin-top: -22px;
	}

	#subHeader5 .subTableColumn:nth-child(2) .heading:nth-child(2) {
		display: none;
	}

	#subHeader5 #logo {
		padding-left: 0;
	}

	#headerLine2.color_theme .user-geo-position-value-link {
		color: #000000;
	}
}
