#serviceBlock {
	position: relative;
	margin-top: 24px;
	overflow: hidden;
	color: #888888;
	font-size: 12px;
	line-height: 16px;
	background-color: #ffffff;
}

#serviceBlock .sideBlockContent {
	padding: 12px;
	border: 1px solid #e7e8ea;
}

#serviceBlock .item {
	margin-top: 12px;
	overflow: hidden;
}

#serviceBlock .item:first-child {
	margin-top: 0;
}

#serviceBlock .name {
	display: block;
	margin-bottom: 8px;
	color: #000000;
	font-size: 12px;
	transition: 0.2s all ease-in-out;
}

#serviceBlock .description {
	height: 48px;
	overflow: hidden;
}

#serviceBlock .link {
	text-decoration: none;
}

#serviceBlock .link:hover {
	color: #000000;
}

#serviceBlock .picBlock {
	display: inline-block;
	width: 70px;
	height: 70px;
	margin-right: 6px;
	line-height: 70px;
	text-align: center;
	vertical-align: top;
	border: 1px solid #e7e8ea;
	transition: all 0.2s ease-in-out;
}

#serviceBlock .picBlock:hover img {
	opacity: 0.8;
	transition: all 0.2s ease-in-out;
}

#serviceBlock .picBlock img {
	max-width: 90%;
	max-height: 90%;
	vertical-align: middle;
}

#serviceBlock .tools {
	display: inline-block;
	width: 60%;
	vertical-align: top;
}

#serviceBlock .tools .date {
	display: block;
	margin-bottom: 6px;
	color: #888888;
}
