#topHeader2 {
	clear: both;
	height: 30px;
	background-color: #ffffff;
}

#topHeader2.color_black {
	background-color: #2b2b2b;
}

#topHeader2 .leftColumn {
	float: left;
}

#topHeader2 .rightColumn {
	float: right;
}

#topHeader2 .slColumn,
#topHeader2 .srColumn {
	float: left;
}

#topHeader2 #topMenu {
	border: 0;
}

#topHeader2 #topMenu .sub {
	background-color: #eeeeee;
}

#topHeader2.color_black #topMenu .sub,
#topHeader2.color_theme #topMenu .sub {
	background-color: #232323;
}

#topHeader2 #topMenu .sub li {
	border-top: 0;
	border-bottom: 1px solid #e0e0e0;
}

#topHeader2.color_black #topMenu .sub li,
#topHeader2.color_theme #topMenu .sub li {
	border-top: 1px solid rgb(0 0 0 / 14.9%);
	border-bottom: 1px solid #303030;
}

#topHeader2 #topMenu .sub li:hover {
	background: #e0e0e0;
}

#topHeader2.color_black #topMenu .sub li:hover,
#topHeader2.color_theme #topMenu .sub li:hover {
	background-color: #1e1e1e;
}

#topHeader2 #topMenu li a:not(:hover, .selected) {
	color: #000000;
}

#topHeader2.color_black #topMenu li a:not(:hover, .selected),
#topHeader2.color_theme #topMenu li a:not(:hover, .selected) {
	color: #ffffff;
}

#topHeader2.color_theme
	#geo-location-window
	.geo-location-window-list-item
	a:not(:hover, .selected),
#topHeader2.color_black
	#geo-location-window
	.geo-location-window-list-item
	a:not(:hover, .selected) {
	color: #000000;
}

#topHeader2.color_theme #topMenu li a:hover {
	color: rgb(255 255 255 / 58%);
}

#topHeader2.color_theme #topMenu li .selected {
	color: rgb(255 255 255 / 58%);
}

#topHeader2 #topMenu li a:active {
	position: relative;
	top: 1px;
}

#topHeader2 #topService {
	color: #000000;
	border: 0;
}

#topHeader2.color_black #topService {
	color: #ffffff;
}

#topHeader2 #topService li {
	border: 0;
}

#topHeader2 #topService li a:not(:hover, .selected) {
	color: #000000;
}

#topHeader2.color_black #topService li a:not(:hover, .selected),
#topHeader2.color_theme #topService li a:not(:hover, .selected) {
	color: #ffffff;
}

#topHeader2.color_theme #topService li a:hover {
	color: rgb(255 255 255 / 58%);
}

#topHeader2 #topService li > a:active {
	position: relative;
	top: 1px;
}

#topHeader2 #topMenu:not(.transfered) > li:first-child a {
	padding-left: 0;
}

#topHeader2 #topMenu.transfered > li {
	padding-left: 0;
}

#topHeader2 #topMenu .bar > a {
	background: url("images/menuMore.svg") 0 50% no-repeat transparent;
}

#topHeader2 #topMenu .bar > a:hover,
#topHeader2 #topMenu .bar.active > a {
	background: url("images/menuMore.svg") -21px 50% no-repeat transparent;
}

#topHeader2.color_black #topMenu .bar > a,
#topHeader2.color_theme #topMenu .bar > a {
	background: url("images/menuMore2.svg") 0 50% no-repeat transparent;
}

#topHeader2.color_black #topMenu .bar > a:hover,
#topHeader2.color_black #topMenu .bar.active > a,
#topHeader2.color_theme #topMenu .bar > a:hover,
#topHeader2.color_theme #topMenu .bar.active > a {
	background: url("images/menuMore2.svg") -21px 50% no-repeat transparent;
}

#topHeader2.color_theme .user-geo-position-label,
#topHeader2.color_theme .user-geo-position-value,
#topHeader2.color_theme .user-geo-position-value-link {
	color: #ffffff;
}

#topHeader2.color_theme .user-geo-position-value-link:hover {
	color: rgb(255 255 255 / 58%);
}

#topHeader2 .user-geo-position-value-link span {
	vertical-align: unset;
}

#subHeader2 {
	position: relative;
	clear: both;
	background-color: #ffffff;
	border-top: 1px solid #f3f3f3;
	border-bottom: 1px solid #eaeaea;
}

#subHeader2.color_black {
	background-color: #2b2b2b;
	border-top: 1px solid rgb(243 243 243 / 20%);
}

#subHeader2.color_theme {
	border-top: 1px solid rgb(243 243 243 / 20%);
}

#subHeader2 .subTable {
	display: table;
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
}

#subHeader2 .subTableColumn {
	display: table-cell;
	vertical-align: middle;
}

#subHeader2 .subTableColumn:first-child {
	width: 680px;
}

#subHeader2 .subTableColumn:last-child {
	width: 381px;
	padding-left: 24px;
	text-align: right;
}

#subHeader2 .subTableColumn:nth-child(2) {
	width: 50%;
	text-align: center;
}

#subHeader2 .subContainer {
	overflow: hidden;
}

#subHeader2 #logo {
	width: 208px;
}

#subHeader2 #logo,
#subHeader2 #topHeading {
	border: 0;
}

#subHeader2 #logo,
#subHeader2 #topHeading p {
	text-align: left;
}

#subHeader2 #topHeading p {
	max-height: 60px;
	overflow: hidden;
}

#subHeader2.color_black #topHeading p,
#subHeader2.color_theme #topHeading p {
	color: #ffffff;
}

#subHeader2 #topCallback {
	float: left;
	margin: 0;
	line-height: 102px;
	list-style: none;
}

#subHeader2.color_black #topSearch2 input[placeholder],
#subHeader2.color_theme #topSearch2 input[placeholder] {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader2.color_black #topSearch2 input::input-placeholder,
#subHeader2.color_theme #topSearch2 input::input-placeholder {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader2.color_black #topSearch2 input::placeholder,
#subHeader2.color_theme #topSearch2 input::placeholder {
	color: rgb(255 255 255 / 70%);
	transition: all 0.2s ease-in-out;
}

#subHeader2.color_black #topSearch2 input:focus[placeholder],
#subHeader2.color_theme #topSearch2 input:focus[placeholder] {
	color: transparent;
}

#subHeader2.color_black #topSearch2 input:focus::input-placeholder,
#subHeader2.color_theme #topSearch2 input:focus::input-placeholder {
	color: transparent;
}

#subHeader2.color_black #topSearch2 input::placeholder,
#subHeader2.color_theme #topSearch2 input::placeholder {
	color: transparent;
}

#subHeader2 .topWishlist,
#subHeader2 .topCompare,
#subHeader2 .cart {
	display: inline-block;
	vertical-align: middle;
}

#subHeader2 .topWishlist,
#subHeader2 .topCompare {
	width: 50px;
}

#subHeader2 #topCallback {
	padding: 0 18px;
}

#subHeader2 #topCallback .wrap {
	display: inline-block;
	line-height: 21px;
	vertical-align: middle;
}

#subHeader2 #topCallback .icon {
	display: inline-block;
	width: 50px;
	height: 50px;
	vertical-align: middle;
	background: url("images/callbackH2.svg") 0 0 no-repeat transparent;
	border: 1px solid #f3f3f3;
}

#subHeader2.color_black #topCallback .icon,
#subHeader2.color_theme #topCallback .icon {
	background: url("images/callbackH2W.svg") 0 0 no-repeat transparent;
	border: 1px solid rgb(255 255 255 / 30%);
}

#subHeader2 #topCallback .icon:active {
	position: relative;
	top: 1px;
}

#subHeader2.color_theme #topCallback .link {
	color: #ffffff;
	border-bottom: 1px dashed #ffffff;
}

#subHeader2.color_theme #topCallback .link:hover {
	opacity: 0.8;
}

#subHeader2 #topCallback .nf {
	display: inline-block;
	margin-left: 12px;
	vertical-align: middle;
}

#subHeader2 #topCallback .heading {
	display: block;
	padding-top: 4px;
	font-size: 18px;
	text-decoration: none;
}

#subHeader2 #topCallback .heading {
	color: #000000;
}

#subHeader2.color_black #topCallback .heading,
#subHeader2.color_theme #topCallback .heading {
	color: #ffffff;
}

#subHeader2 #topCallback .link {
	font-size: 13px;
	text-decoration: none;
}

#subHeader2 #topCallback .link:active {
	position: relative;
	top: 1px;
}

#subHeader2 #searchResult {
	text-align: left;
}

#mainMenuContainer #menuCatalogSection {
	border: 0;
}

#menuCatalogSection .menuSection .catalogButton {
	padding: 0 12px 0 0;
	background-color: transparent;
}

#menuCatalogSection .menuSection .catalogButton:hover {
	background-color: transparent;
	opacity: 0.8;
}

@media all and (max-width: 1580px) {
	#subHeader2 .subTableColumn:first-child {
		width: 468px;
	}

	#subHeader2 #logo {
		width: 194px;
	}

	#subHeader2 #topHeading {
		display: none;
	}
}

@media all and (max-width: 1270px) {
	#subHeader2 .subTableColumn:last-child {
		width: 323px;
	}

	#subHeader2 .subTableColumn:first-child {
		width: 400px;
	}

	#subHeader2 #topCallback .icon {
		display: none;
	}

	#subHeader2 .cart .heading {
		width: 180px;
	}

	#subHeader2 .cart .adds {
		display: none;
	}

	.cart:not(.active) .icon {
		margin-right: 8px;
	}

	#subHeader2 .cartLabel {
		display: none;
	}

	#subHeader2 #logo {
		width: 182px;
	}
}

@media all and (max-width: 1150px) {
	#subHeader2 {
		height: 176px;
	}

	#subHeader2 .topWishlist,
	#subHeader2 .topCompare {
		margin-right: 12px;
	}

	#subHeader2 .subTableColumn:last-child {
		padding-left: 24px;
	}

	#subHeader2 .subTableColumn:last-child {
		width: 361px;
	}

	#subHeader2 .subTableColumn:first-child {
		width: 630px;
	}

	#subHeader2 .subTableColumn:nth-child(2) {
		position: absolute;
		top: 100px;
		left: 0;
		display: block;
		box-sizing: border-box;
		width: 100%;
		padding: 0 24px;
		text-align: center;
	}

	#subHeader2 #topCallback .icon {
		display: inline-block;
	}

	#subHeader2 .cart .adds {
		display: inline;
	}

	#subHeader2 .cartLabel {
		display: inline;
	}

	#subHeader2 .cart .heading {
		width: 230px;
	}

	#subHeader2 #logo {
		width: 178px;
	}

	#subHeader2 #topHeading {
		display: block;
	}

	#subHeader2 #searchOverlap {
		top: 207px !important;
	}

	#subHeader2 #searchResult {
		top: 76px !important;
		left: -15px !important;
	}
}

@media all and (max-width: 1080px) {
	#subHeader2 #topHeading {
		display: none;
	}

	#subHeader2 .subTableColumn:first-child {
		width: 432px;
	}
}

@media all and (max-width: 1000px) {
	#subHeader2 .subTableColumn:first-child {
		width: 377px;
	}

	#subHeader2 #topCallback .icon {
		display: none;
	}

	#subHeader2 .cart .adds {
		display: none;
	}
}

@media all and (max-width: 830px) {
	#subHeader2 .cartLabel {
		display: none;
	}

	#subHeader2 .cart .heading {
		width: 180px;
	}

	#subHeader2 .subTableColumn:last-child {
		width: 311px;
	}
}

@media all and (max-width: 780px) {
	.cart .heading ins {
		display: none;
	}

	#subHeader2 .cart .heading {
		width: 50px;
	}

	#subHeader2 .subTableColumn:last-child {
		width: 181px;
	}

	.cart .icon {
		margin-right: 0;
	}
}

@media all and (max-width: 700px) {
	#subHeader2 #logo {
		margin-left: 12px;
	}

	#subHeader2 .subTableColumn:first-child {
		width: 389px;
	}

	#subHeader2 .subTableColumn:last-child {
		padding-right: 12px;
	}

	#subHeader2 .topCompare {
		display: none;
	}

	#subHeader2 .subTableColumn:last-child {
		width: 116px;
	}

	#subHeader2 #searchResult {
		left: -10px !important;
	}
}

@media all and (max-width: 560px) {
	#subHeader2 .subTableColumn:first-child {
		width: 100%;
	}

	#subHeader2 .subTableColumn:last-child {
		position: absolute;
		top: 100px;
		right: 0;
	}

	#subHeader2 .subTableColumn:nth-child(2) {
		padding-right: 142px;
	}

	#subHeader2 #topCallback {
		float: right;
		text-align: right;
	}

	#topHeader2 #topMenu {
		margin-left: 12px;
	}

	#subHeader2 #logo {
		height: 102px;
		line-height: 102px;
	}

	#topHeader2 .user-geo-position-label {
		display: none;
	}

	#subHeader2 #topCallback {
		margin-right: 12px;
		padding: 0;
	}

	#topHeader2 .top-auth-personal,
	#topHeader2 .top-auth-exit,
	#topHeader2 .top-auth-login,
	#topHeader2 .top-auth-register {
		position: static;
		top: auto;
		left: auto;
	}

	#topHeader2 #topService li {
		display: inline-block;
		float: none;
		padding: 0 12px;
	}

	#topHeader2 .user-geo-position {
		padding-right: 0;
	}

	#topHeader2 #topService {
		display: inline-block;
		text-align: right;
	}

	#topHeader2 #topService .null {
		/* display: none; */
		text-align: left;
	}

	#subHeader2 #logo {
		padding: 0;
	}

	#topHeader2 .user-geo-position-value-link {
		max-width: 102px;
		overflow: hidden;
		white-space: nowrap;
		text-overflow: ellipsis;
	}
}

@media all and (max-width: 410px) {
	#topHeader2 #topService li {
		padding: 0 6px;
	}

	#topHeader2 .rightColumn {
		padding-right: 6px;
	}

	#subHeader2 .topWishlist {
		display: none;
	}

	#subHeader2 .subTableColumn:last-child {
		width: 50px;
	}

	#subHeader2 .subTableColumn:nth-child(2) {
		padding-right: 74px;
		padding-left: 12px;
	}

	#subHeader2 #logo {
		width: 145px;
	}

	#subHeader2 #topCallback .heading {
		font-size: 16px;
	}

	#subHeader2 .cart {
		margin-top: 0;
	}

	#subHeader2 #logo {
		margin-left: 0;
	}

	#topHeader2 #topMenu {
		margin-left: 0;
	}
}

@media all and (max-width: 350px) {
	#topHeader2 #topService li {
		padding: 0 4px;
	}

	#subHeader2 #logo {
		width: 125px;
	}

	#topHeader2 .rightColumn {
		padding-right: 8px;
	}

	#topHeader2 .user-geo-position-value-link {
		max-width: 95px;
	}

	#subHeader2 #topCallback .nf {
		margin-left: 0;
	}

	#topMenu .bar {
		padding: 0;
	}
}
