.cart .heading {
	position: relative;
	display: inline-block;
	box-sizing: border-box;
	width: 238px;
	height: 50px;
	padding: 0 12px;
	color: #aaaaaa;
	line-height: 50px;
	text-align: center;
	text-decoration: none;
	vertical-align: middle;
	background-color: #ffffff;
	border: 1px solid #f3f3f3;
}

#subHeader2.color_black .cart .heading,
#subHeader2.color_theme .cart .heading {
	color: rgb(255 255 255 / 70%);
	background: transparent;
	border: 1px solid rgb(255 255 255 / 30%);
}

.cart .heading:active {
	position: relative;
	top: 1px;
}

.cart .heading.active {
	color: #ffffff;
}

#subHeader2.color_black .cart .heading.active,
#subHeader2.color_theme .cart .heading.active {
	color: #ffffff;
	border: none;
}

.cart .heading ins {
	text-decoration: none;
}

.cart .icon {
	position: relative;
	display: inline-block;
	width: 26px;
	height: 50px;
	margin-right: 12px;
	vertical-align: middle;
	background: url("images/cartH2.svg") 0 0 no-repeat transparent;
}

#subHeader2.color_black .cart .icon,
#subHeader2.color_theme .cart .icon {
	background: url("images/cartH2W.svg") 0 0 no-repeat transparent;
}

#subHeader2.color_theme .cart .heading.active {
	border: 1px solid rgb(255 255 255 / 30%);
}

.cart .count {
	position: absolute;
	top: 6px;
	left: 14px;
	display: none;
	padding: 0 5px;
	color: #000000;
	font-size: 12px;
	line-height: 18px;
	text-align: center;
	background-color: #ffffff;
	border-radius: 50%;
}

.cart .active .count {
	display: inline-block;
}

#subHeader2.color_black .cart .icon,
#subHeader2.color_theme .cart .icon,
.cart .active .icon {
	background-position: 0 -50px;
}
