#subMenu {
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 0;
	white-space: nowrap;
	text-align: center;
	list-style: none;
	visibility: hidden;
}

#subMenu li {
	position: relative;
	display: inline-block;
	margin: 0;
	padding: 0;
	font-size: 14px;
	list-style: none;
	border-right: 1px solid #f4f4f4;
}

#subMenu li:last-child {
	border: 0;
}

#subMenu li a {
	display: inline-block;
	padding: 0 36px;
	color: #000000;
	text-decoration: none;
	transition: all 0.2s ease-in-out;
}

#subMenu li a:active {
	position: relative;
	top: 1px;
}
