.txSwitcher {
	/* overflow: hidden; */
	position: fixed;
	top: 0;
	right: 0;
	z-index: 9998;
	width: 360px;
	height: 100%;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 1px 1px 12px rgb(0 0 0 / 30%);
	transform: translateX(500px);
	transition: all 0.2s ease-in-out;
}

.txSwitcher.opened {
	transform: translateX(0);
}

.txSwitcherScroll {
	width: 390px;
	height: 100%;
	overflow: auto;
}

.txSwitcherScrollContainer {
	box-sizing: border-box;
	width: 360px;
	margin: 24px 0;
	padding: 0 24px;
}

.txSwitcherSettings {
	position: fixed;
	top: 50%;
	right: 0;
	z-index: 9999;
	width: 51px;
	height: 198px;
	margin-top: -100px;
	line-height: 50px;
	text-align: center;
	cursor: pointer;
	transition: all 0.2s ease-in-out;
	animation-name: bounceInDown;
	animation-duration: 2s;
	animation-fill-mode: both;
}

.txSwitcherSettings.noAnimate {
	animation-name: none;
}

.txSwitcherSettings.active {
	right: 360px;
}

.txSwitcherSettings:hover {
	opacity: 0.9;
}

.txSwitcherSettings.active .txSwitcherSettingsPicture {
	/* transform: rotate(360deg); */
}

.txSwitcherSettings:hover {
	background-color: #2b2b2b;
}

.txSwitcher .switcherTabs .switcherTab {
	display: none;
}

.txSwitcher .switcherTabs .switcherTab.active {
	display: block;
}

.txSwitcher .switcherChangeTabItem:first-child {
	margin-top: 0;
}

.txSwitcher .switcherChangeTabItem {
	margin-top: 12px;
}

.txSwitcher .switcherChangeTab {
	display: inline-block;
	box-sizing: border-box;
	width: 90%;
	height: 40px;
	padding: 0 24px;
	color: #ff9601;
	line-height: 40px;
	text-align: center;
	text-decoration: none;
	background-color: #ffffff;
	border: 1px solid #ff9601;
	border-radius: 2px;
	transition: all 0.1s ease-in-out;
}

.txSwitcher .switcherChangeTab.active {
	color: #ffffff;
	background-color: #ff9601;
}

.txSwitcherSettingsPicture {
	display: inline-block;
	width: 51px;
	height: 198px;
	vertical-align: middle;
	background: url("images/setting.png") 50% 50% no-repeat transparent;
	transition: all 0.5s ease-in-out;
}

.txSwitcher .switcherList {
	overflow: hidden;
}

.txSwitcher .switcherCreateProductProperties,
.txSwitcher .switcherCreateSkuProperties,
.txSwitcher .switcherCreateCustomTheme,
.txSwitcher .switcherLink {
	display: inline-block;
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dashed #000000;
}

.txSwitcher .switcherCreateProductProperties:hover,
.txSwitcher .switcherCreateSkuProperties:hover {
	opacity: 0.8;
}

.txSwitcher .switcherCreateProductProperties:active,
.txSwitcher .switcherCreateSkuProperties:active {
	position: relative;
	top: 1px;
}

.txSwitcher .switcherListItem {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	text-align: center;
	background-color: #ffffff;
	border: 1px solid #ff9601;
	border-radius: 2px;
}

.txSwitcher .switcherListItem:hover {
	border-color: #ffa800;
}

.txSwitcher .switcherListItem.active {
	color: #ffffff;
	background-color: #ff9601;
}

.txSwitcher .switcherListItem.active a {
	color: #ffffff;
}

.txSwitcher .switcherListItem:first-child {
	margin-right: 12px;
}

.txSwitcher .switcherListItem a {
	display: block;
	padding: 0 24px;
	color: #ff9601;
	text-decoration: none;
}

.txSwitcher .switcherListItem a:active {
	position: relative;
	top: 1px;
}

.txSwitcher .settingsEdit {
	display: inline-block;
	width: 16px;
	height: 14px;
	margin-left: 6px;
	color: #ff0000;
	text-decoration: none;
	vertical-align: middle;
	background: url("images/edit.png") 0 0 no-repeat transparent;
	transition: all 0.2s ease-in-out;
}

.txSwitcher .settingsEdit:hover {
	opacity: 0.7;
}

.txSwitcher .settingsEdit:active {
	position: relative;
	top: 1px;
}

.txSwitcher .switcherHeading {
	margin-bottom: 18px;
	padding: 0 24px;
	font-size: 16px;
	font-family: robotomedium;
}

.txSwitcher .switcherBigHeading {
	margin-bottom: 24px;
	padding-right: 24px;
	padding-bottom: 24px;
	padding-left: 24px;
	font-size: 18px;
	text-transform: uppercase;
	border-bottom: 1px solid #f3f3f3;
}

.txSwitcher .switcherBigHeading .switcherClose {
	float: right;
	margin-top: -1px;
	color: #ff0000;
	font-size: 21px;
	text-decoration: none;
}

.txSwitcher .switcherBigHeading .switcherClose:hover {
	opacity: 0.7;
}

.txSwitcher .switcherBigHeading .switcherClose:active {
	position: relative;
	top: 1px;
}

.txSwitcher .switcherHeading2 {
	margin-bottom: 12px;
	padding: 0 24px;
	font-family: robotomedium;
}

.txSwitcher .switcherDescription2 {
	margin-bottom: 12px;
	padding: 0 12px;
	color: #888888;
	font-size: 13px;
}

.txSwitcher .switcherBigHeading + .switcherRowBlock {
	padding-top: 0;
	border-top: 0;
}

.txSwitcher .switcherRowBlock {
	margin-top: 24px;
	padding-top: 24px;
	border-top: 1px solid #f3f3f3;
}

.txSwitcher .switcherSelect {
	box-sizing: border-box;
	width: 90%;
	height: 40px;
	padding: 0 12px;
	border: 1px solid #f3f3f3;
	outline: none;
	cursor: pointer;
}

.txSwitcher .switcherSelect[multiple] {
	height: auto;
	padding-top: 12px;
	padding-bottom: 12px;
}

.txSwitcher .switcherCheckboxItems {
	display: inline-block;
	margin-top: 12px;
}

.txSwitcher .switcherCheckboxItem {
	text-align: left;
}

.txSwitcher .switcherImageContainer {
	margin-top: 24px;
}

.txSwitcher .switcherImageContainerLink {
	transition: all 0.2s ease-in-out;
}

.txSwitcher .switcherImageContainerLink:hover {
	opacity: 0.8;
}

.txSwitcher .switcherImageContainerLink:active {
	position: relative;
	top: 1px;
}

.txSwitcher .switcherImageContainerImage {
	max-width: 200px;
	max-height: 100px;
}

.txSwitcher .switcherShowAll,
.txSwitcher .switcherHideAll {
	display: inline-block;
	margin-top: 12px;
	color: #000000;
	text-decoration: none;
	border-bottom: 1px dashed #000000;
	transition: all 0.2s ease-in-out;
}

.txSwitcher .switcherShowAll:hover,
.txSwitcher .switcherHideAll:hover {
	opacity: 0.7;
}

.txSwitcher .switcherShowAll:active,
.txSwitcher .switcherHideAll:active {
	position: relative;
	top: 1px;
}

.txSwitcher .switcherShowAll.hidden,
.txSwitcher .switcherHideAll.hidden {
	display: none;
}

.txSwitcher textarea {
	box-sizing: border-box;
	width: 95%;
	padding: 6px 12px;
	background-color: #ffffff;
	border: 1px solid #e7e8ea;
	border-radius: 4px;
	outline: none;
	resize: none;
	scrollbar-width: thin;
}

.txSwitcher input {
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
}

.txSwitcher input[type="number"],
.txSwitcher input[type="text"] {
	box-sizing: border-box;
	width: 70%;
	height: 30px;
	padding: 0 6px;
	background-color: #ffffff;
	border: 1px solid #e7e8ea;
}

.txSwitcher input[type="checkbox"] + label,
.txSwitcher input[type="radio"] + label {
	display: inline-block;
	max-width: 230px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	vertical-align: middle;
	cursor: pointer;
}

.txSwitcher input[type="checkbox"]:not(checked),
.txSwitcher input[type="radio"]:not(checked) {
	position: absolute;
	opacity: 0;
}

.txSwitcher input[type="checkbox"]:not(checked) + label,
.txSwitcher input[type="radio"]:not(checked) + label {
	position: relative;
	padding-left: 28px;
}

.txSwitcher input[type="checkbox"] + label::before {
	background: url("images/checkBox.png") 0 0 no-repeat transparent;
}

.txSwitcher input[type="radio"] + label::before {
	background: url("images/radio.png") 0 0 no-repeat transparent;
}

.txSwitcher input[type="checkbox"]:not(checked) + label::before,
.txSwitcher input[type="radio"]:not(checked) + label::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 17px;
	height: 17px;
	content: " ";
}

.txSwitcher input[type="checkbox"]:not(checked) + label:hover::before,
.txSwitcher input[type="radio"]:not(checked) + label:hover::before {
	background-position: 0 -17px;
}

.txSwitcher input[type="checkbox"]:checked + label::before,
.txSwitcher input[type="radio"]:checked + label::before {
	background-position: 0 -34px;
}

.txSwitcher input[type="checkbox"]:checked + label:hover::before,
.txSwitcher input[type="radio"]:checked + label:hover::before {
	background-position: 0 -51px;
}

.txSwitcher input[type="checkbox"]:disabled + label,
.txSwitcher input[type="radio"]:disabled + label {
	cursor: default;
}

.txSwitcher input[type="checkbox"]:disabled + label::before,
.txSwitcher input[type="radio"]:disabled + label::before {
	background-position: 0 -68px !important;
}

.txSwitcher input:focus {
	background-color: #fcfcfc;
	border-color: #cccccc;
}

.txSwitcher .switcherIcons {
	margin-bottom: 24px;
}

.txSwitcher .switcherDescription {
	color: #888888;
	font-size: 13px;
}

.txSwitcher .switcherBackgroundItems {
	overflow: hidden;
	text-align: center;
}

.txSwitcher .switcherThemes {
	margin-top: 24px;
	overflow: hidden;
}

.txSwitcher .switcherThemesItem {
	display: inline-block;
	width: 30px;
	height: 30px;
	margin-bottom: 12px;
	margin-left: 12px;
}

.txSwitcher .switcherBackgroundItem {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.txSwitcher .switcherBackgroundItem:first-child {
	margin-right: 12px;
}

.txSwitcher .switcherThemesItem a,
.txSwitcher .switcherBackgroundItem a {
	position: relative;
	display: block;
	width: 30px;
	height: 30px;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
}

.txSwitcher .switcherThemesItem a:active,
.txSwitcher .switcherBackgroundItem a:active {
	position: relative;
	top: 1px;
}

.txSwitcher .switcherThemesItem.selected a,
.txSwitcher .switcherBackgroundItem.selected a {
	background-image: url("images/check.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
}

.txSwitcher .switcherThemesItem .color1 {
	background-color: #ff9601;
}

.txSwitcher .switcherThemesItem .color1:hover {
	background-color: #ffb800;
}

.txSwitcher .switcherThemesItem .color2 {
	background-color: #fb9bad;
}

.txSwitcher .switcherThemesItem .color2:hover {
	background-color: #f3889d;
}

.txSwitcher .switcherThemesItem .color3 {
	background-color: #ff855f;
}

.txSwitcher .switcherThemesItem .color3:hover {
	background-color: #e77652;
}

.txSwitcher .switcherThemesItem .color4 {
	background-color: #daa550;
}

.txSwitcher .switcherThemesItem .color4:hover {
	background-color: #e4a540;
}

.txSwitcher .switcherThemesItem .color5 {
	background-color: #b15b49;
}

.txSwitcher .switcherThemesItem .color5:hover {
	background-color: #a05a4b;
}

.txSwitcher .switcherThemesItem .color6 {
	background-color: #f44336;
}

.txSwitcher .switcherThemesItem .color6:hover {
	background-color: #d42d20;
}

.txSwitcher .switcherThemesItem .color7 {
	background-color: #acce11;
}

.txSwitcher .switcherThemesItem .color7:hover {
	background-color: #94b20e;
}

.txSwitcher .switcherThemesItem .color8 {
	background-color: #27c148;
}

.txSwitcher .switcherThemesItem .color8:hover {
	background-color: #19cc3f;
}

.txSwitcher .switcherThemesItem .color9 {
	background-color: #27bfc1;
}

.txSwitcher .switcherThemesItem .color9:hover {
	background-color: #25ccce;
}

.txSwitcher .switcherThemesItem .color10 {
	background-color: #3498db;
}

.txSwitcher .switcherThemesItem .color10:hover {
	background-color: #2395e1;
}

.txSwitcher .switcherThemesItem .color11 {
	background-color: #2a65d0;
}

.txSwitcher .switcherThemesItem .color11:hover {
	background-color: #0d57dc;
}

.txSwitcher .switcherThemesItem .color12 {
	background-color: #0061b2;
}

.txSwitcher .switcherThemesItem .color12:hover {
	background-color: #006ac2;
}

.txSwitcher .switcherThemesItem .color13 {
	background-color: #c651d0;
}

.txSwitcher .switcherThemesItem .color13:hover {
	background-color: #d75ee1;
}

.txSwitcher .switcherThemesItem .color14 {
	background-color: #c12752;
}

.txSwitcher .switcherThemesItem .color14:hover {
	background-color: #c61c4b;
}

.txSwitcher .switcherThemesItem .color15 {
	background-color: #ed1c24;
}

.txSwitcher .switcherThemesItem .color15:hover {
	background-color: #ff232b;
}

.txSwitcher .switcherThemesItem .custom::before {
	position: absolute;
	top: 0;
	left: 0;
	width: 30px;
	height: 30px;
	background: linear-gradient(238deg, #fd8800, #fd008f, #9700fd, #003dfd, #05c7e6, #4bd58d);
	background-size: 1200% 1200%;
	animation: rainbow 4s ease infinite;
	content: "";
}

.txSwitcher .switcherThemesItem.selected .custom::after {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;
	width: 30px;
	height: 30px;
	background-image: url("images/check.png");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	content: "";
}

.txSwitcher .switcherThemesItem .custom:hover {
	opacity: 0.9;
}

.txSwitcher .switcherBackgroundItem .white {
	background-color: #eeeeee;
}

.txSwitcher .switcherBackgroundItem .black {
	background-color: #000000;
}

.txSwitcher .switcherBoolItem:first-child {
	margin-right: 12px;
}

.txSwitcher .switcherBoolItem {
	display: inline-block;
	width: 40px;
	height: 30px;
}

.txSwitcher .switcherBoolItem .switcherBoolButton {
	position: relative;
	display: inline-block;
	display: block;
	width: 40px;
	color: #000000;
	line-height: 30px;
	text-decoration: none;
	vertical-align: middle;
	border: 1px solid #e7e8ea;
	border-radius: 2px;
	transition: all 0.2s ease-in-out;
}

.txSwitcher .switcherBoolItem .switcherBoolButton:hover {
	opacity: 0.8;
}

.txSwitcher .switcherBoolItem .switcherBoolButton:active {
	top: 1px;
}

.txSwitcher .switcherBoolItem.selected .switcherBoolButton {
	color: #ffffff;
	background-color: #ff9601;
	border-color: #ff9601;
}

.txSwitcher .switcherSave {
	transition: opacity 0.4s ease-in-out;
}

.txSwitcher .switcherSave.loading {
	background-image: url("images/loader.svg");
	background-repeat: no-repeat;
	background-position: 50% 50%;
	opacity: 0.7;
	pointer-events: none;
}

.txSwitcher .switcherSave.error {
	background-color: #ff0000;
	opacity: 0.7;
	pointer-events: none;
}

.txSwitcherWindow {
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1000;
	display: none;
	width: 100%;
	height: 100%;
	overflow: auto;
	white-space: nowrap;
	text-align: center;
	background: #00000077;
	transition: 0.1s all ease-in-out;
}

.txSwitcherWindow.loading {
	background: #00000099;
	transition: 0.4s all ease-in-out;
}

.txSwitcherWindow::after {
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
	content: "";
}

.txSwitcherWindow.opened {
	display: block;
}

.txSwitcherWindow .txSwitcherWindowOffset {
	display: inline-block;
	vertical-align: middle;
}

.txSwitcherWindow .txSwitcherWindowContainer {
	position: relative;
	box-sizing: border-box;
	width: 540px;
	margin: 24px 0;
	padding: 24px;
	overflow: hidden;
	white-space: normal;
	text-align: center;
	background-color: #ffffff;
	box-shadow: 1px 1px 12px rgb(60 60 60 / 30%);
	animation-name: zoomIn;
	animation-duration: 0.2s;
	animation-fill-mode: both;
}

.txSwitcherWindow .txSwitcherWindowExit {
	position: absolute;
	top: -16px;
	right: -16px;
	display: block;
	width: 65px;
	height: 65px;
	background-color: #424242;
	border-radius: 50%;
}

.txSwitcherWindow .txSwitcherWindowExitButton {
	position: absolute;
	top: 26px;
	right: 26px;
	display: block;
	width: 21px;
	height: 21px;
}

.txSwitcherWindow .txSwitcherWindowExitButton {
	background: url("images/exit.png") 0 0 no-repeat transparent;
}

.txSwitcherWindow .txSwitcherWindowExitButton:hover {
	background-position: 0 -21px;
}

.txSwitcherWindow .txSwitcherWindowExitButton:active {
	background-position: 0 -42px;
}

.txSwitcherWindow .switcherWindowHeading {
	margin-top: 12px;
	font-size: 21px;
	font-family: robotomedium;
	line-height: 24px;
}

.txSwitcherWindow .switcherWindowHeading2 {
	margin-top: 24px;
	font-size: 18px;
	font-family: robotomedium;
	line-height: 21px;
}

.txSwitcherWindow .switcherWindowDescription {
	/* text-align: left; */
	margin-top: 18px;
	font-size: 13px;
	line-height: 18px;
}

.txSwitcherWindow .switcherWindowIblockArea {
	margin-top: 12px;
	font-size: 14px;
	font-family: robotomedium;
}

.txSwitcherWindow .switcherWindowFields {
	width: 80%;
	margin: 0 auto;
	margin-top: 24px;
	text-align: left;
}

.txSwitcherWindow .switcherWindowFieldLabel {
	display: block;
	margin-bottom: 6px;
}

.txSwitcherWindow .switcherWindowFields input[type="text"] {
	display: inline-block;
	box-sizing: border-box;
	width: 100%;
	height: 40px;
	padding: 0 12px;
	line-height: 40px;
	background-color: #f5f5f5;
	border: 1px solid #f1f1f1;
	transition: all 0.2s ease-in-out;
}

.txSwitcherWindow .switcherWindowFields input[type="checkbox"] {
	display: inline-block;
	box-sizing: border-box;
	width: 16px;
	height: 30px;
	margin-right: 6px;
	padding: 6px;
	font-size: 14px;
	line-height: 30px;
	vertical-align: middle;
	cursor: pointer;
}

.txSwitcherWindow .switcherWindowFields input[type="checkbox"] + .switcherWindowFieldLabel {
	display: inline-block;
	margin: 0;
	vertical-align: middle;
	cursor: pointer;
}

.txSwitcherWindow .switcherWindowFields input:focus {
	background-color: #f3f3f3;
}

.txSwitcherWindow .switcherWindowFields input.error {
	border: 1px solid #ff0000;
}

.txSwitcherWindow .switcherWindowFieldLine:first-child {
	margin: 0;
}

.txSwitcherWindow .switcherWindowFieldLine {
	margin-top: 12px;
}

.txSwitcherWindow .switcherWindowStartButton,
.txSwitcherWindow .switcherWindowExit {
	width: 50%;
	margin-top: 18px;
}

.switcherResultTable {
	display: table;
	width: 100%;
	margin-top: 18px;
	table-layout: fixed;
	border: 0;
}

.switcherResultTableRow {
	display: table-row;
}

.switcherResultTableRow:nth-child(odd) .switcherResultTableCell {
	background-color: #f9f9f9;
}

.switcherResultTableCell {
	display: table-cell;
	padding: 12px;
	overflow: hidden;
	white-space: nowrap;
	text-align: center;
	text-align: left;
	text-overflow: ellipsis;
	vertical-align: middle;
	border-bottom: 1px dashed #f9f9f9;
}

.switcherResultTableCell:first-child {
	width: 150px;
}

.switcherResultTableCell:nth-child(2) {
	text-align: center;
}

.switcherResultTableCell:last-child {
	text-align: right;
}

.switcherResultTableCell.error {
	color: #ff0000;
}

.switcherResultTableCell.success {
	color: #54a100;
}

@media all and (max-width: 1024px) {
	.txSwitcherSettings,
	.txSwitcher {
		display: none !important;
	}
}

.txSwitcherWindow.loading .txSwitcherHolder {
	display: block;
}

.txSwitcherHolder {
	position: absolute;
	inset: 0;
	display: none;
	width: 100%;
	height: 100%;
}

.txSwitcherPreloader {
	position: absolute;
	top: 50%;
	left: 50%;
	width: 140px;
	height: 140px;
	transform: translateX(-50%) translateY(-50%);
	animation: rotatePreloader 2s infinite ease-in;
}

.txSwitcher .swticherNewLine {
	margin-top: 12px;
}

@keyframes rotatePreloader {
	0% {
		transform: translateX(-50%) translateY(-50%) rotateZ(0deg);
	}

	100% {
		transform: translateX(-50%) translateY(-50%) rotateZ(-360deg);
	}
}

.txSwitcherPreloader div {
	position: absolute;
	width: 100%;
	height: 100%;
	opacity: 0;
}

.txSwitcherPreloader div::before {
	position: absolute;
	top: 0%;
	left: 50%;
	width: 10%;
	height: 10%;
	background-color: #0084ff;
	border-radius: 50%;
	transform: translateX(-50%);
	content: "";
}

.txSwitcherPreloader div:nth-child(1) {
	z-index: 9;
	transform: rotateZ(0deg);
	animation: rotateCircle1 2s infinite linear;
}

@keyframes rotateCircle1 {
	0% {
		opacity: 0;
	}

	0% {
		transform: rotateZ(36deg);
		opacity: 1;
	}

	7% {
		transform: rotateZ(0deg);
	}

	57% {
		transform: rotateZ(0deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(2) {
	z-index: 8;
	transform: rotateZ(36deg);
	animation: rotateCircle2 2s infinite linear;
}

@keyframes rotateCircle2 {
	5% {
		opacity: 0;
	}

	5.0001% {
		transform: rotateZ(0deg);
		opacity: 1;
	}

	12% {
		transform: rotateZ(-36deg);
	}

	62% {
		transform: rotateZ(-36deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(3) {
	z-index: 7;
	transform: rotateZ(72deg);
	animation: rotateCircle3 2s infinite linear;
}

@keyframes rotateCircle3 {
	10% {
		opacity: 0;
	}

	10.0002% {
		transform: rotateZ(-36deg);
		opacity: 1;
	}

	17% {
		transform: rotateZ(-72deg);
	}

	67% {
		transform: rotateZ(-72deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(4) {
	z-index: 6;
	transform: rotateZ(108deg);
	animation: rotateCircle4 2s infinite linear;
}

@keyframes rotateCircle4 {
	15% {
		opacity: 0;
	}

	15.0003% {
		transform: rotateZ(-72deg);
		opacity: 1;
	}

	22% {
		transform: rotateZ(-108deg);
	}

	72% {
		transform: rotateZ(-108deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(5) {
	z-index: 5;
	transform: rotateZ(144deg);
	animation: rotateCircle5 2s infinite linear;
}

@keyframes rotateCircle5 {
	20% {
		opacity: 0;
	}

	20.0004% {
		transform: rotateZ(-108deg);
		opacity: 1;
	}

	27% {
		transform: rotateZ(-144deg);
	}

	77% {
		transform: rotateZ(-144deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(6) {
	z-index: 4;
	transform: rotateZ(180deg);
	animation: rotateCircle6 2s infinite linear;
}

@keyframes rotateCircle6 {
	25% {
		opacity: 0;
	}

	25.0005% {
		transform: rotateZ(-144deg);
		opacity: 1;
	}

	32% {
		transform: rotateZ(-180deg);
	}

	82% {
		transform: rotateZ(-180deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(7) {
	z-index: 3;
	transform: rotateZ(216deg);
	animation: rotateCircle7 2s infinite linear;
}

@keyframes rotateCircle7 {
	30% {
		opacity: 0;
	}

	30.0006% {
		transform: rotateZ(-180deg);
		opacity: 1;
	}

	37% {
		transform: rotateZ(-216deg);
	}

	87% {
		transform: rotateZ(-216deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(8) {
	z-index: 2;
	transform: rotateZ(252deg);
	animation: rotateCircle8 2s infinite linear;
}

@keyframes rotateCircle8 {
	35% {
		opacity: 0;
	}

	35.0007% {
		transform: rotateZ(-216deg);
		opacity: 1;
	}

	42% {
		transform: rotateZ(-252deg);
	}

	92% {
		transform: rotateZ(-252deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(9) {
	z-index: 1;
	transform: rotateZ(288deg);
	animation: rotateCircle9 2s infinite linear;
}

@keyframes rotateCircle9 {
	40% {
		opacity: 0;
	}

	40.0008% {
		transform: rotateZ(-252deg);
		opacity: 1;
	}

	47% {
		transform: rotateZ(-288deg);
	}

	97% {
		transform: rotateZ(-288deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

.txSwitcherPreloader div:nth-child(10) {
	z-index: 0;
	transform: rotateZ(324deg);
	animation: rotateCircle10 2s infinite linear;
}

@keyframes rotateCircle10 {
	45% {
		opacity: 0;
	}

	45.0009% {
		transform: rotateZ(-288deg);
		opacity: 1;
	}

	52% {
		transform: rotateZ(-324deg);
	}

	102% {
		transform: rotateZ(-324deg);
	}

	100% {
		transform: rotateZ(-324deg);
		opacity: 1;
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}

@keyframes rainbow {
	0% {
		background-position: 0% 50%;
	}

	50% {
		background-position: 100% 50%;
	}

	100% {
		background-position: 0% 50%;
	}
}
