#newsBlock {
	position: relative;
	overflow: hidden;
	color: #888888;
	font-size: 12px;
	line-height: 16px;
}

#newsBlock .newsTitle {
	display: inline-block;
	margin: 4px 0;
	color: #000000;
	transition: 0.2s all ease-in-out;
}

#newsBlock .newsPreview {
	position: relative;
	padding: 12px;
	overflow: hidden;
	background-color: #f9f9f9;
	border-right: 1px solid #e7e8ea;
	border-bottom: 1px solid #e7e8ea;
	border-left: 1px solid #e7e8ea;
}

#newsBlock .newsPic {
	display: none;
	float: left;
	width: 40%;
	transition: all 0.2s ease-in-out;
}

#newsBlock .newsPic img {
	max-width: 100%;
	transition: all 0.2s ease-in-out;
}

#newsBlock .newsPic:hover img {
	opacity: 0.9;
}

#newsBlock .newsPic:active {
	position: relative;
	top: 1px;
}

#newsBlock .newsTitle {
	display: block;
}

#newsBlock .preText {
	display: none;
	height: 79px;
	overflow: hidden;
	font-size: 12px;
}

#newsBlock .newsPreview:first-child {
	background-color: #ffffff;
}

#newsBlock .newsPreview:first-child .newsPic,
#newsBlock .newsPreview:first-child .preText {
	display: block;
}

#newsBlock .newsPreview:first-child .newsPic + .newsOverview {
	float: right;
	width: 56%;
}

@media all and (max-width: 1366px) {
	#newsBlock .newsPreview:first-child .preText {
		display: none;
	}

	#newsBlock .newsPic {
		width: 36%;
	}
}
