#topSearch2 .searchContainerInner {
	height: 50px;
	border: 1px solid #f3f3f3;
}

#subHeader2.color_black #topSearch2 .searchContainerInner {
	background-color: rgb(0 0 0 / 10%);
	border: 1px solid rgb(255 255 255 / 30%);
}

#subHeader2.color_theme #topSearch2 .searchContainerInner {
	background-color: rgb(255 255 255 / 10%);
	border: 1px solid rgb(255 255 255 / 30%);
}

#topSearch2 .searchContainer {
	display: table;
	width: 100%;
	height: 50px;
	line-height: 50px;
	table-layout: fixed;
	border-collapse: collapse;
}

#topSearch2 .searchColumn {
	display: table-cell;
	vertical-align: middle;
}

#topSearch2 .searchColumn:last-child {
	width: 54px;
}

#topSearch2 #searchQuery {
	box-sizing: border-box;
	width: 100%;
	height: 50px;
	padding-left: 42px;
	background: url("images/searchH2.svg") 14px 50% no-repeat transparent;
	border: 0;
}

#topSearch2 #goSearch {
	box-sizing: border-box;
	width: 50px;
	height: 50px;
	color: transparent;
	background: url("images/searchIcoH2.svg") 0 0 no-repeat transparent;
	border: none;
	cursor: pointer;
}

#subHeader2.color_black #topSearch2 #searchQuery,
#subHeader2.color_theme #topSearch2 #searchQuery,
#subHeader6.color_black #topSearch2 #searchQuery,
#subHeader6.color_theme #topSearch2 #searchQuery,
#subHeader7.color_black #topSearch2 #searchQuery,
#subHeader7.color_theme #topSearch2 #searchQuery,
#subHeader9.color_black #topSearch2 #searchQuery,
#subHeader9.color_theme #topSearch2 #searchQuery {
	color: rgb(255 255 255 / 70%);
	background: url("images/searchH2W.svg") 14px 50% no-repeat transparent;
}

#subHeader5.color_black #topSearch2 #searchQuery,
#subHeader5.color_theme #topSearch2 #searchQuery {
	color: rgb(255 255 255 / 70%);
	background: url("images/searchH5W.svg") 14px 50% no-repeat transparent;
}

#subHeader2.color_black #goSearch,
#subHeader2.color_theme #goSearch {
	background: url("images/searchIcoH2W.svg") 0 0 no-repeat transparent;
}

#subHeader5.color_black #goSearch,
#subHeader5.color_theme #goSearch,
#subHeader6.color_black #goSearch,
#subHeader6.color_theme #goSearch,
#subHeader7.color_black #goSearch,
#subHeader7.color_theme #goSearch,
#subHeader9.color_black #goSearch,
#subHeader9.color_theme #goSearch {
	background: url("images/searchIcoH5W.svg") 0 0 no-repeat transparent;
}

#topSearch2 #goSearch:hover {
	background-position: 0 -50px;
}

#topSearch2 #goSearch:active {
	background-position: 0 -100px;
}

#searchResult {
	position: absolute;
	top: 172px;
	left: 0;
	z-index: 999;
	display: none;
	width: 100%;
	height: auto;
	background-color: #ffffff;
	border-top: 1px solid #f3f3f3;
}

#subHeader2 #searchResult {
	top: 102px;
}

#subHeader2 #searchOverlap {
	top: 172px;
}

#searchResult h1 {
	position: relative;
	height: 85px;
	margin: 0;
	font-size: 18px;
	font-family: robotobold;
	line-height: 85px;
	text-align: center;
	text-transform: uppercase;
	background-color: #ffffff;
}

#searchResult.visible {
	display: block;
}

#searchResult .productList {
	box-sizing: border-box;
	margin: 0 24px 24px;
}

#searchResult .item {
	width: 14.285%;
}

#searchResult .searchAllResult {
	position: relative;
	display: block;
	height: 85px;
	color: #000000;
	font-size: 14px;
	font-family: robotobold;
	line-height: 85px;
	text-align: center;
	text-transform: uppercase;
	text-decoration: none;
	background-color: #f3f3f3;
	border-top: 1px solid #e7e8ea;
	transition: all 0.2 ease-in-out;
}

#searchResult .searchAllResult:hover {
	background-color: #eeeeee;
}

#searchResult .searchAllResult span {
	padding-bottom: 4px;
	border-bottom: 1px dashed #000000;
}

#searchResult .errorMessage {
	margin: 24px 36px;
	color: #000000;
	font-size: 14px;
	text-align: center;
}

#searchProductsClose {
	position: absolute;
	top: 50%;
	right: 24px;
	display: block;
	width: 18px;
	height: 18px;
	margin-top: -9px;
	background: url("images/exit.svg") 0 0 no-repeat transparent;
}

#searchProductsClose:hover {
	background-position: -18px 0;
}

#searchProductsClose:active {
	background-position: -36px 0;
}

@media all and (max-width: 1200px) {
	#topSearchLine.color_black #topSearch2 #searchQuery {
		color: rgb(255 255 255 / 70%);
		background: url("images/searchH5W.svg") 14px 50% no-repeat transparent;
	}

	#topSearchLine.color_black #goSearch {
		background: url("images/searchIcoH5W.svg") 0 0 no-repeat transparent;
	}

	#subHeader6 #topSearchLine #topSearch2 #searchQuery {
		color: #000000;
		background: url("images/searchH2.svg") 14px 50% no-repeat transparent;
	}

	#subHeader6 #topSearchLine #topSearch2 #goSearch {
		background: url("images/searchIcoH2.svg") 0 0 no-repeat transparent;
	}

	#subHeader6 #topSearchLine #topSearch2 input[placeholder] {
		color: rgb(0 0 0 / 70%);
		transition: all 0.2s ease-in-out;
	}

	#subHeader6 #topSearchLine #topSearch2 input::input-placeholder {
		color: rgb(0 0 0 / 70%);
		transition: all 0.2s ease-in-out;
	}

	#subHeader6 #topSearchLine #topSearch2 input::placeholder {
		color: rgb(0 0 0 / 70%);
		transition: all 0.2s ease-in-out;
	}
}

.bx-pagination {
	margin: 10px 0;
}

.bx-pagination .bx-pagination-container {
	position: relative;
	text-align: center;
}

.bx-pagination .bx-pagination-container ul {
	display: inline-block;
	margin: 0;
	padding: 0;
	list-style: none;
}

.bx-pagination .bx-pagination-container ul li {
	display: inline-block;
	margin: 0 2px 15px;
}

.bx-pagination .bx-pagination-container ul li span {
	display: block;
	box-sizing: border-box;
	min-width: 32px;
	height: 32px;
	padding: 0 8px;
	color: #444444;
	font-size: 14px;
	line-height: 32px;
	vertical-align: middle;
	background: #eff0f1;
	border-radius: 16px;
	transition:
		color 0.3s ease,
		background-color 0.3s ease,
		border-color 0.3s ease;
}

.bx-pagination .bx-pagination-container ul li a {
	display: block;
	min-width: 32px;
	height: 32px;
	color: #444444;
	line-height: 32px;
	text-decoration: none;
	vertical-align: middle;
	border-radius: 16px;
}

.bx-pagination .bx-pagination-container ul li a:hover span {
	background: #dadada;
}

.bx-pagination .bx-pagination-container ul li.bx-active span {
	/*	    background: #ff9601;
	color: #fff; */
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a span {
	padding: 0 18px;
	color: #444444;
	line-height: 28px;
	background: #ffffff;
	border: 2px solid #eff0f1;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next span {
	padding: 0 18px;
	color: #aab1b4;
	line-height: 28px;
	background: #ffffff;
	border: 2px solid #eff0f1;
}

.bx-pagination .bx-pagination-container ul li.bx-pag-all a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-prev a:hover span,
.bx-pagination .bx-pagination-container ul li.bx-pag-next a:hover span {
	color: #000000;
	background: #ffffff;
	border-color: #dadada;
}

@media all and (max-width: 1920px) {
	#searchResult .item {
		width: 16.666666%;
	}
}

@media all and (max-width: 1600px) {
	#searchResult .item {
		width: 20%;
	}
}

@media all and (max-width: 1300px) {
	#searchResult .item {
		width: 25%;
	}
}

@media all and (max-width: 1024px) {
	#searchResult .item {
		width: 33.33333%;
	}
}

@media all and (max-width: 790px) {
	#searchResult .item {
		width: 50%;
	}
}
