.bx_profile {
	font-size: 80%;
}

.bx_profile input[type="text"],
.bx_profile input[type="password"] {
	display: block;
	box-sizing: border-box;
	width: 100%;
	max-width: 400px;
	padding: 6px;
	color: #000000;
	font-size: 14px;
	vertical-align: middle;
	background: #ffffff;
	border: 1px solid #c1c5c8;
	border-radius: 2px;
	outline: none;
	box-shadow: inset 2px 2px 2px -1px rgb(180 188 191 / 50%);
}

.bx_profile .bt_blue {
	display: inline-block;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	border: none;
	border-radius: 3px;
	cursor: pointer;
}

.bx_profile .shadow.bt_blue {
	box-shadow: 0 1px 1px 0 rgb(0 0 0 / 20%);
}

.bx_profile .shadow.bt_blue:active {
	box-shadow: none;
}

.bx_profile .bt_blue {
	color: #ffffff;
	text-shadow: 0 1px 0 #006cae;
	background: #00a2df;
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzAwYTJkZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, #00a2df),
		color-stop(100%, #006fcb)
	);
	background: linear-gradient(top, #00a2df 0%, #006fcb 100%);
	background: linear-gradient(top, #00a2df 0%, #006fcb 100%);
	background: linear-gradient(top, #00a2df 0%, #006fcb 100%);
	background: linear-gradient(top, #00a2df 0%, #006fcb 100%);
	background: linear-gradient(to bottom, #00a2df 0%, #006fcb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00a2df', endColorstr='#006fcb',GradientType=0 );
}

.bx_profile .bt_blue:hover {
	background: #21afe4;
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxYWZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, #21afe4),
		color-stop(100%, #006fcb)
	);
	background: linear-gradient(top, #21afe4 0%, #006fcb 100%);
	background: linear-gradient(top, #21afe4 0%, #006fcb 100%);
	background: linear-gradient(top, #21afe4 0%, #006fcb 100%);
	background: linear-gradient(top, #21afe4 0%, #006fcb 100%);
	background: linear-gradient(to bottom, #21afe4 0%, #006fcb 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21afe4', endColorstr='#006fcb',GradientType=0 );
}

.bx_profile .bt_blue:active {
	background: #21afe4;
	background: url("data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzIxYWZlNCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDZmY2IiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+");
	background: -webkit-gradient(
		linear,
		left top,
		left bottom,
		color-stop(0%, #21afe4),
		color-stop(100%, #006fcb)
	);
	background: linear-gradient(top, #21afe4 0%, #006fcb 100%);
	background: linear-gradient(top, #21afe4 0%, #006fcb 100%);
	background: linear-gradient(top, #21afe4 0%, #006fcb 100%);
	background: linear-gradient(top, #21afe4 0%, #006fcb 100%);
	background: linear-gradient(to bottom, #21afe4 0%, #006fcb 100%);
	box-shadow: inset 0 3px 5px 0 rgb(0 0 0 / 21%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21afe4', endColorstr='#006fcb',GradientType=0 );
}

.bx_profile .big.bt_blue {
	height: 36px;
	padding: 0 13px;
	font-weight: bold;
	line-height: 36px;
}

.bx_profile .big.bt_blue:hover {
}

.bx_profile .big.bt_blue:active {
}

span.mf-req {
	color: red;
}

div.mf-ok-text {
	padding-bottom: 1em;
	color: green;
	font-weight: bold;
}
