#subHeader8 {
	position: relative;
	min-width: 320px;
	height: 90px;
	line-height: 90px;
	background-color: #ffffff;
	border-bottom: 1px solid #f3f3f3;
}

#subHeader8.color_black {
	background-color: #2b2b2b;
}

#subHeader8.color_black,
#subHeader8.color_theme {
	color: #ffffff;
	border-bottom: 1px solid rgb(255 255 255 / 15%);
}

#subHeader8 .subContainer {
	display: table;
	width: 100%;
	table-layout: fixed;
}

#subHeader8 .subContainerColumn {
	display: table-cell;
	vertical-align: middle;
}

#subHeader8 .subContainerColumn:first-child {
	width: 396px;
	text-align: left;
}

#subHeader8 .menuContainer {
	text-align: right;
}

#subHeader8 .subContainerColumn:last-child {
	width: 192px;
	text-align: right;
}

#subHeader8 .topToolsContainer {
	font-size: 0;
}

#subHeader8 #topSearchLine,
#subHeader8 #subMenu,
#subHeader8 .cart {
	display: inline-block;
	font-size: 14px;
	line-height: 21px;
	vertical-align: middle;
}

#subHeader8 .cart {
	margin-top: 4px;
}

#subHeader8 .cart .count {
	top: -2px;
}

#subHeader8 .cart,
#subHeader8 #topSearchLine {
	height: 40px;
	font-size: 14px;
	border-right: 1px solid #f3f3f3;
}

#subHeader8 #topSearchLine {
	border-left: 1px solid #f3f3f3;
}

#subHeader8 .topAuthContainer {
	display: inline-block;
	height: 40px;
	line-height: 40px;
	vertical-align: middle;
	border-right: 1px solid #f3f3f3;
}

#subHeader8.color_black .cart,
#subHeader8.color_theme .cart,
#subHeader8.color_black #topSearchLine,
#subHeader8.color_theme #topSearchLine {
	border-right: 1px solid rgb(255 255 255 / 15%);
}

#subHeader8.color_theme #topSearchLine,
#subHeader8.color_black #topSearchLine {
	border-left: 1px solid rgb(255 255 255 / 15%);
}

#subHeader8.color_black .topAuthContainer,
#subHeader8.color_theme .topAuthContainer {
	border-right: 1px solid rgb(255 255 255 / 15%);
}

#subHeader8 .topAuthIcon {
	display: inline-block;
	width: 60px;
	height: 40px;
	vertical-align: top;
	background: url("images/userIco.svg") 50% 50% no-repeat transparent;
}

#subHeader8.color_theme .topAuthIcon,
#subHeader8.color_black .topAuthIcon {
	background: url("images/userIcoW.svg") 50% 50% no-repeat transparent;
}

#subHeader8 #logo {
	width: 200px;
	height: 90px;
	padding-right: 12px;
	line-height: 90px;
	text-align: left;
	border: 0;
}

#subHeader8 .telephoneContainer {
	display: inline-block;
	line-height: 21px;
	vertical-align: middle;
}

#subHeader8 .telephoneContainer .heading {
	display: block;
	font-size: 16px;
	font-family: robotoBold;
}

#subHeader8 .telephoneContainer .callBack {
	position: relative;
	text-decoration: none;
}

#subHeader8.color_theme .telephoneContainer .callBack {
	color: #ffffff;
	transition: all 0.2s ease-in-out;
}

#subHeader8.color_theme .telephoneContainer .callBack:hover {
	opacity: 0.8;
}

#subHeader8 .telephoneContainer .callBack::after {
	position: absolute;
	bottom: 0;
	left: 0;
	display: block;
	width: 100%;
	height: 0;
	transition: all 0.2s ease-in-out;
	content: "";
}

#subHeader8.color_theme .telephoneContainer .callBack::after {
	border-color: #ffffff;
}

#subHeader8.color_theme .telephoneContainer .callBack::after {
	opacity: 0.8;
}

#subHeader8.color_black .cart .count {
	background-color: #2b2b2b;
}

#subHeader8.color_theme .cart .count {
	color: #ffffff;
	border-color: rgb(255 255 255 / 70%);
}

#subHeader8.color_theme .cart .active .count {
	border-color: #ffffff;
}

#subHeader8.color_black #subMenu li a:not(.selected),
#subHeader8.color_theme #subMenu li a:not(.selected) {
	color: #ffffff;
}

#subHeader8.color_theme #subMenu li a:hover:not(.selected) {
	opacity: 0.8;
}

#subHeader8.color_theme #subMenu li .selected {
	color: #ffffff;
	opacity: 0.7;
}

#subHeader8 #subMenu .removedItemsContainer {
	position: relative;
}

#subHeader8 #subMenu .removedItemsContainer .removedItemsLink {
	display: inline-block;
	width: 30px;
	height: 18px;
	padding: 0 12px;
	vertical-align: middle;
	background: url("images/menuMore.svg") 50% 50% no-repeat transparent;
}

#subHeader8.color_black #subMenu .removedItemsContainer .removedItemsLink,
#subHeader8.color_theme #subMenu .removedItemsContainer .removedItemsLink {
	background: url("images/menuMoreW.svg") 50% 50% no-repeat transparent;
}

#subHeader8 #subMenu .removedItemsContainer .removedItemsLink:active {
	position: relative;
	top: 1px;
}

#subHeader8 #subMenu .removedItemsContainer .removedItemsList {
	position: absolute;
	top: 56px;
	left: 0;
	z-index: 99;
	display: none;
	width: 180px;
	margin: 0;
	padding: 0;
	background-color: #fbfbfb;
}

#subHeader8.color_black #subMenu .removedItemsContainer .removedItemsList {
	background-color: #2b2b2b;
}

#subHeader8.color_black #subMenu .removedItemsContainer .removedItemsList li,
#subHeader8.color_theme #subMenu .removedItemsContainer .removedItemsList li {
	border-top: 1px solid rgb(255 255 255 / 15%);
}

#subHeader8.color_black #subMenu .removedItemsContainer .removedItemsList li a,
#subHeader8.color_theme #subMenu .removedItemsContainer .removedItemsList li a {
	color: #ffffff;
}

#subHeader8 #subMenu .removedItemsContainer .removedItemsList li {
	display: block;
	float: none;
	white-space: normal;
	text-align: left;
	border-top: 1px solid #f2f2f2;
}

#subHeader8 #subMenu .removedItemsContainer .removedItemsList li:first-child {
	border: 0 !important;
}

#subHeader8 #subMenu .removedItemsContainer .removedItemsList li a {
	display: block;
	padding: 8px 14px;
}

#subHeader8 #subMenu .removedItemsContainer .removedItemsList li a:active {
	position: relative;
	top: 1px;
}

#subHeader8 .webformModal {
	text-align: left;
}

#searchResult {
	top: 89px;
	text-align: left;
}

@media all and (max-width: 700px) {
	#subHeader8 #logo {
		margin-left: 12px;
	}

	#subHeader8 .topToolsContainer {
		margin-right: 12px;
		text-align: right;
	}

	#subHeader8 .cart {
		border-right: 0;
	}

	#subHeader8 .subContainerColumn:last-child {
		width: 100%;
	}

	#subHeader8 #topSearch3 .searchContainerInner {
		margin: 0 12px;
	}

	#subHeader8 #topSearch3 #searchQuery {
		padding-left: 12px;
	}

	#subHeader8 .telephoneContainer {
		margin-top: -2px;
	}
}

@media all and (max-width: 680px) {
	#subHeader8 #subMenu .removedItemsContainer .removedItemsLink {
		background: url("images/menuMoreSmall.svg") 50% 50% no-repeat transparent;
	}

	#subHeader8.color_black #subMenu .removedItemsContainer .removedItemsLink,
	#subHeader8.color_theme #subMenu .removedItemsContainer .removedItemsLink {
		background: url("images/menuMoreSmallW.svg") 50% 50% no-repeat transparent;
	}

	#subHeader8 {
		height: 160px;
	}

	#subHeader8 .subContainerColumn:last-child {
		position: absolute;
		top: 80px;
		right: 0;
	}

	#subHeader8 .menuContainer {
		position: absolute;
		top: 80px;
		left: 12px;
		width: 65%;
		text-align: left;
	}

	#subHeader8 .subContainerColumn:first-child {
		width: 100%;
		text-align: right;
		border-bottom: 1px solid #f3f3f3;
	}

	#subHeader8.color_theme .subContainerColumn:first-child,
	#subHeader8.color_black .subContainerColumn:first-child {
		border-bottom: 1px solid rgb(255 255 255 / 15%);
	}

	#subHeader8 .telephoneContainer {
		margin-right: 12px;
	}

	#subHeader8 #subMenu .removedItemsContainer .removedItemsLink {
		padding: 0 12px 0 0;
	}

	#subHeader8 #subMenu li:first-child a {
		padding-left: 0;
	}

	#subHeader8 #subMenu li a {
		padding: 0 12px;
	}

	#subHeader8 .topAuthContainer,
	#subHeader8 #topSearchLine,
	#subHeader8 #subMenu,
	#subHeader8 .cart,
	#subHeader8.color_black .topAuthContainer,
	#subHeader8.color_black #topSearchLine,
	#subHeader8.color_black #subMenu,
	#subHeader8.color_black .cart,
	#subHeader8.color_theme .topAuthContainer,
	#subHeader8.color_theme #topSearchLine,
	#subHeader8.color_theme #subMenu,
	#subHeader8.color_theme .cart {
		border: 0;
	}

	#subHeader8 #subMenu .removedItemsContainer .removedItemsList {
		top: 45px;
	}

	#subHeader8 .telephoneContainer .heading {
		font-size: 18px;
	}

	#subHeader8 .telephoneContainer {
		margin-top: -4px;
	}

	#subHeader8 #topAuth {
		top: 56px !important;
		right: -62px !important;
	}

	#subHeader8 #subMenu {
		position: relative;
		z-index: 33;
	}
}

@media all and (max-width: 550px) {
	#subHeader8 .menuContainer {
		width: 60%;
	}
}

@media all and (max-width: 500px) {
	#subHeader8 #logo {
		margin-left: 0;
	}

	#subHeader8 .top-auth-personal,
	#subHeader8 .top-auth-exit,
	#subHeader8 .top-auth-login,
	#subHeader8 .top-auth-register {
		position: static;
		top: 0;
	}
}

@media all and (max-width: 480px) {
	#subHeader8 #subMenu .removedItemsContainer .removedItemsLink .label {
		font-size: 14px;
	}

	#subHeader8 #subMenu .removedItemsContainer .removedItemsLink {
		padding: 0;
	}

	#subHeader8 #subMenu .removedItemsContainer .removedItemsLink {
		background: url("images/menuMore.svg") 50% 50% no-repeat transparent;
	}

	#subHeader8.color_black #subMenu .removedItemsContainer .removedItemsLink,
	#subHeader8.color_theme #subMenu .removedItemsContainer .removedItemsLink {
		background: url("images/menuMoreW.svg") 50% 50% no-repeat transparent;
	}

	#subHeader8 .topAuthContainer,
	#subHeader8 #topSearchLine,
	#subHeader8 #subMenu,
	#subHeader8 .cart {
		width: 28%;
	}

	#subHeader8 .subContainerColumn:last-child {
		width: 100%;
	}
}

@media all and (max-width: 430px) {
	#subHeader8 .menuContainer {
		width: 50%;
	}

	#subHeader8 #logo {
		width: 140px;
	}

	#subHeader8 .telephoneContainer .heading {
		font-size: 16px;
	}
}

@media all and (max-width: 360px) {
	#subHeader8 .telephoneContainer .heading {
		font-size: 14px;
	}

	#subHeader8 #logo {
		width: 120px;
	}
}
