.topWishlist {
	margin-right: 12px;
}

.topWishlist .text {
	position: relative;
	display: block;
	float: left;
}

.topWishlist .link {
	float: left;
}

.topWishlist .link.active:hover {
	opacity: 0.8;
}

.topWishlist .link.active:active {
	position: relative;
	top: 1px;
}

.topWishlist .label {
	display: inline-block;
	margin-top: 8px;
	margin-left: 6px;
	color: #000000;
	font-family: robotomedium;
	text-decoration: none;
	vertical-align: middle;
}

#subHeader6.color_black .topWishlist .label,
#subHeader6.color_theme .topWishlist .label,
#subHeader7.color_black .topWishlist .label,
#subHeader7.color_theme .topWishlist .label,
#subHeader8.color_black .topWishlist .label,
#subHeader8.color_theme .topWishlist .label {
	color: #ffffff;
}

.topWishlist .icon {
	display: inline-block;
	width: 60px;
	height: 40px;
	background: url("images/wishlistH5.svg") 50% 50% no-repeat transparent;
}

#subHeader4.color_black .topWishlist .icon,
#subHeader4.color_theme .topWishlist .icon,
#subHeader5.color_black .topWishlist .icon,
#subHeader5.color_theme .topWishlist .icon,
#subHeader6.color_black .topWishlist .icon,
#subHeader6.color_theme .topWishlist .icon,
#subHeader7.color_black .topWishlist .icon,
#subHeader7.color_theme .topWishlist .icon,
#subHeader8.color_black .topWishlist .icon,
#subHeader8.color_theme .topWishlist .icon {
	display: inline-block;
	width: 60px;
	height: 40px;
	background: url("images/wishlistH5w.svg") 50% 50% no-repeat transparent;
}

.topWishlist .active .icon:hover {
	opacity: 0.7;
}

.topWishlist .active .icon:active {
	position: relative;
	top: 1px;
}

.topWishlist .value {
	position: absolute;
	top: 0;
	right: 8px;
	width: 20px;
	height: 20px;
	overflow: hidden;
	color: #d1d1d1;
	font-size: 12px;
	text-align: center;
	background-color: #ffffff;
	border: 2px solid #d1d1d1;
	border-radius: 50%;
}

#subHeader5.color_black .topWishlist .value,
#subHeader6.color_black .topWishlist .value,
#subHeader7.color_black .topWishlist .value,
#subHeader8.color_black .topWishlist .value {
	background-color: #2b2b2b;
}

.topWishlist .active .value:active {
	top: 1px;
}
