.instal-bg {
	background: url("install.jpg") 0 0 no-repeat transparent !important;
	background-size: cover !important;
}

.inst-sequence-step-item {
	color: #6c6e6f;
	background: #f1f1f1;
	box-shadow: none;
}

.inst-cont-title,
.wizard-next-button,
.inst-active-step {
	color: #ffffff !important;
	text-shadow: none !important;
	background: #134d75 !important;
	border: none !important;
	box-shadow: none !important;
}

.inst-active-step::before {
	display: none;
}

.wizard-next-button {
	background: #1186d6 !important;
}

.inst-template-description {
	height: auto !important;
}

.wizard-next-button:hover {
	opacity: 0.9;
	transition: all 0.2s ease-in-out;
}

.wizard-prev-button,
.instal-btn,
.instal-btn-inp {
	color: #000000 !important;
	text-shadow: none !important;
	background: #eaeaea !important;
	border: none !important;
	box-shadow: none !important;
}

.wizard-field {
	margin-top: 12px;
	color: #000000;
	background-color: #eaeaea;
	border: 1px solid #cccccc;
	box-shadow: none !important;
}

.wizard-catalog-form-item select {
	height: 35px;
	padding: 0 12px;
}

.inst-past-stage {
	text-shadow: none;
	background: #e1e1e1;
}

.inst-sequence-step-text {
	text-shadow: none;
}

#bitrix_install_template input[type="checkbox"] + label,
#bitrix_install_template input[type="radio"] + label {
	cursor: pointer !important;
}

#bitrix_install_template input[type="checkbox"]:not(checked),
#bitrix_install_template input[type="radio"]:not(checked) {
	position: absolute !important;
	opacity: 0 !important;
}

#bitrix_install_template input[type="checkbox"]:not(checked) + label,
#bitrix_install_template input[type="radio"]:not(checked) + label {
	position: relative !important;
	padding-left: 24px !important;
}

#bitrix_install_template input[type="checkbox"] + label::before {
	background: url("checkBox.png") 0 0 no-repeat transparent !important;
}

#bitrix_install_template input[type="radio"] + label::before {
	background: url("radio.png") 0 0 no-repeat transparent !important;
}

#bitrix_install_template input[type="checkbox"]:not(checked) + label::before,
#bitrix_install_template input[type="radio"]:not(checked) + label::before {
	position: absolute !important;
	top: 0 !important;
	left: 0 !important;
	width: 17px !important;
	height: 17px !important;
	content: " " !important;
}

#bitrix_install_template input[type="checkbox"]:not(checked) + label:hover::before,
#bitrix_install_template input[type="radio"]:not(checked) + label:hover::before {
	background-position: 0 -17px !important;
}

#bitrix_install_template input[type="checkbox"]:checked + label::before,
#bitrix_install_template input[type="radio"]:checked + label::before {
	background-position: 0 -34px !important;
}

#bitrix_install_template input[type="checkbox"]:checked + label:hover::before,
#bitrix_install_template input[type="radio"]:checked + label:hover::before {
	background-position: 0 -51px !important;
}

#bitrix_install_template input[type="checkbox"]:disabled + label,
#bitrix_install_template input[type="radio"]:disabled + label {
	cursor: default !important;
}

#bitrix_install_template input[type="checkbox"]:disabled + label::before,
#bitrix_install_template input[type="radio"]:disabled + label::before {
	background-position: 0 -68px !important !important;
}
