iframe.waitwindowlocal {
	position: absolute;
	z-index: 9999;
	border: 0;
}

div.waitwindowlocal {
	position: absolute;
	z-index: 10000;
	width: 25px;
	height: 25px;
	padding: 0;
	background-color: #ffffff;
	background-image: url("images/wait.gif");
	background-repeat: no-repeat;
	background-position: center center;
	border: 1px solid #e7e8ea;
}

div.waitwindowlocalshadow {
	position: absolute;
	z-index: 9998;
	background-image: url("images/shadow.gif");
	border: 1px solid #808080;
}
