.cart .cartTable {
	display: table;
	table-layout: fixed;
	border-collapse: collapse;

	/* width: 100%; */
}

.cart .cartTable .cartTableColumn {
	display: table-cell;
	text-align: right;
	vertical-align: middle;
}

.cart .cartTable .cartTableColumn:first-child {
	width: 50px;
	padding-right: 24px;
}

.cart .cartTable .cartIcon {
	position: relative;
	display: block;
	width: 50px;
	height: 50px;
	margin-top: 12px;
	background: url("images/cartH3.svg") 0 0 no-repeat transparent;
}

.cart .cartIcon .countLink {
	display: block;
	width: 50px;
	height: 50px;
	text-align: center;
}

.cart .cartIcon .countLink:active {
	position: relative;
	top: 1px;
}

.cart .cartIcon .count {
	position: absolute;
	top: -4px;
	right: -4px;
	display: block;
	width: 25px;
	height: 25px;
	color: #ffffff;
	font-size: 13px;
	line-height: 25px;
	background: #b2b2b2;
	border-radius: 50%;
	transition: all 0.2s ease-in-out;
}

.cart .heading {
	color: #000000;
	font-size: 16px;
	text-decoration: none;
}

.cart .heading.active:hover {
	opacity: 0.8;
}

.cart .heading.active:active {
	position: relative;
	top: 1px;
}

.cart .total {
	margin-left: 4px;
}

.cart .order {
	display: inline-block;
	margin-top: 6px;
	padding: 6px 24px;
	color: #b2b2b2;
	text-align: center;
	text-decoration: none;
	border: 1px solid #f3f3f3;
	border-radius: 40px;
}

#subHeader3 .cart .order.active:hover {
	opacity: 0.7;
}

.cart .order.active:active {
	position: relative;
	top: 1px;
}

#subHeader3 .cart .active:hover .count {
	opacity: 0.8;
}

@media (max-width: 700px) {
	.cart .cartTable .cartTableColumn:first-child {
		padding-right: 0;
	}
}
